@import 'src/colors.sass'

.left-sidebar
  width: 252px
  height: 100%
  position: fixed
  z-index: 1
  overflow-x: hidden
  left: 0
  top: 0
  background: colorscheme(white-100)
  box-shadow: 3px 4px 9px rgba(223, 223, 223, 0.25)

.logo
  background: colorscheme(gray-200)
  width: 87.63px
  height: 57.23px
  border-radius: 10px
  margin-left: 51px
  margin-top: 32.34px

  display: flex
  align-items: center
  justify-content: center

.logo-text
  vertical-align: middle

.icon
  margin-left: 50px
  margin-top: 76.45px

.menu
  margin-left: 49px
  margin-top: 48.01px
  margin-right: 48px

.menu-item a
  text-decoration: none
  color: colorscheme(black-100)
  width: 100%
  display: block

.menu-item
  margin-bottom: 37px

ul
  list-style: none
  padding-left: 0

span
  font-family: 'Nunito', sans-serif
  font-style: normal
  font-weight: 400
  font-size: 18px
  vertical-align: middle
  text-align: center
  width: 100%

svg
  display: inline-block
  vertical-align: middle
  margin-right: 17px
  width: 24px
  height: 24px
  text-align: center
  text-align-last: right

.selected
  font-weight: 700
  color: colorscheme(pink-200)

