<div class="left-sidebar" [style.width.px]="containerWidth" *ngIf="currentUser !== undefined">
  <div class="icon">
    <a (click)="minimize()">
      <img *ngIf="!sideBarMinimized" src="assets/burger_menu.svg" alt="" />
      <img *ngIf="sideBarMinimized" src="assets/kebab_menu.svg" alt="" />
    </a>
  </div>
  <div class="menu">
    <div class="menu-item" [style.background-color]="isBoard" (click)="hideSettings(); navigateToBoard()">
      <a>
        <img
          src="assets/board_icon.svg"
          alt=""
          matTooltip="Board"
          matTooltipPosition="after"
          [matTooltipDisabled]="!sideBarMinimized"
        />
        <span *ngIf="!sideBarMinimized">Board</span>
      </a>
    </div>
    <div class="menu-item" [style.background-color]="isBacklog" (click)="hideSettings(); navigateToBacklog()">
      <a>
        <img
          src="assets/backlog_icon.svg"
          alt=""
          matTooltip="Backlog"
          matTooltipPosition="after"
          [matTooltipDisabled]="!sideBarMinimized"
        />
        <span *ngIf="!sideBarMinimized">Backlog</span>
      </a>
    </div>
    <div class="menu-item" [style.background-color]="isTeam" (click)="hideSettings(); navigateToTeam()">
      <a>
        <img
          src="assets/team_icon.svg"
          alt=""
          matTooltip="Team"
          matTooltipPosition="after"
          [matTooltipDisabled]="!sideBarMinimized"
        />
        <span *ngIf="!sideBarMinimized">Team</span>
      </a>
    </div>
    <div class="menu-item" [style.background-color]="isWiki" (click)="hideSettings(); navigateToWiki()">
      <a>
        <img
          src="assets/wiki_icon.svg"
          alt=""
          matTooltip="Project wiki"
          matTooltipPosition="after"
          [matTooltipDisabled]="!sideBarMinimized"
        />
        <span *ngIf="!sideBarMinimized">Project wiki</span>
      </a>
    </div>
    <div class="menu-item min-settings" *ngIf="!sideBarMinimized" [style.background-color]="isSettings">
      <div class="settings-button" (click)="toggleSettings()">
        <img
          src="assets/settings_icon_sidebarmenu.svg"
          alt=""
          matTooltip="Settings"
          matTooltipPosition="after"
          [matTooltipDisabled]="!sideBarMinimized"
        />
        <span *ngIf="!sideBarMinimized">Settings</span>
      </div>
      <div *ngIf="!sideBarMinimized && showSettings">
        <div class="menu-actions" *ngIf="isProjectAdmin()">
          <p (click)="navigateToColumnsAndStatuses()" [style.background-color]="isColumnsAndStatuses">
            Columns and statuses
          </p>
          <p (click)="navigateToIssueTypes()" [style.background-color]="isIssueTypes">Issue types</p>
          <p (click)="navigateToIssueTemplate()" [style.background-color]="isIssueTemplate">Issue template</p>
          <p (click)="navigateToBasicIssueTemplate()" [style.background-color]="isBasicIssueTemplate">
            Basic issue template
          </p>
        </div>
        <div *ngIf="!isProjectAdmin()" class="no-permission">
          <p>
            You don't have enough permission. Ask your supervisor to give you access to change project
            settings
          </p>
        </div>
      </div>
    </div>
    <tasque-menu-dropdown
      *ngIf="sideBarMinimized"
      [left]="50"
      class="menu-item min-settings"
      [style.background-color]="isSettings"
    >
      <div dropdown-button (click)="toggleSettings()">
        <div class="settings-button">
          <img
            src="assets/settings_icon_sidebarmenu.svg"
            alt=""
            matTooltip="Settings"
            matTooltipPosition="after"
          />
        </div>
      </div>
      <div option *ngIf="isProjectAdmin()">
        <tasque-option option routerLink="settings/columns-and-statuses">Columns and statuses </tasque-option>
        <tasque-option option routerLink="settings/issue-types">Issue types </tasque-option>
        <tasque-option option (click)="navigateToIssueTemplate()">Issue template </tasque-option>
        <tasque-option option routerLink="settings/basic-issue-template">Basic issue template </tasque-option>
      </div>
      <div *ngIf="!isProjectAdmin()" class="no-permission">
        <p>
          You don't have enough permission. Ask your supervisor to give you access to change project settings
        </p>
      </div>
    </tasque-menu-dropdown>
  </div>
</div>
