<div
  class="left-sidebar"
  [style.width.px]="containerWidth"
  *ngIf="currentUser !== undefined"
>
  <div class="icon">
    <a (click)="minimize()">
      <img *ngIf="!sideBarMinimized" src="assets/burger_menu.svg" alt="" />
      <img *ngIf="sideBarMinimized" src="assets/kebab_menu.svg" alt="" />
    </a>
  </div>
  <aside class="menu">
    <div
      class="menu-item"
      [ngClass]="{ 'selected': isBoard }"
      (click)="hideSettings(); navigateToBoard()"
    >
      <img
        src="assets/board_icon.svg"
        alt=""
        matTooltip="Board"
        matTooltipPosition="after"
        [matTooltipDisabled]="!sideBarMinimized"
      />
      <span *ngIf="!sideBarMinimized">Board</span>
    </div>

    <div
      class="menu-item"
      [ngClass]="{ 'selected': isBacklog }"
      (click)="hideSettings(); navigateToBacklog()"
    >
      <img
        src="assets/backlog_icon.svg"
        alt=""
        matTooltip="Backlog"
        matTooltipPosition="after"
        [matTooltipDisabled]="!sideBarMinimized"
      />
      <span *ngIf="!sideBarMinimized">Backlog</span>
    </div>

    <div
      class="menu-item"
      [ngClass]="{ 'selected': isTeam }"
      (click)="hideSettings(); navigateToTeam()"
    >
      <img
        src="assets/team_icon.svg"
        alt=""
        matTooltip="Team"
        matTooltipPosition="after"
        [matTooltipDisabled]="!sideBarMinimized"
      />
      <span *ngIf="!sideBarMinimized">Team</span>
    </div>

    <div
      class="menu-item"
      [ngClass]="{ 'selected': isWiki }"
      (click)="hideSettings(); navigateToWiki()"
    >
      <img
        src="assets/wiki_icon.svg"
        alt=""
        matTooltip="Project wiki"
        matTooltipPosition="after"
        [matTooltipDisabled]="!sideBarMinimized"
      />
      <span *ngIf="!sideBarMinimized">Project wiki</span>
    </div>

    <section class="settings" *ngIf="isCurrentUserAdmin">
      <div
        class="menu-item"
        *ngIf="!sideBarMinimized"
        [ngClass]="{ 'selected': isSettings }"
        (click)="toggleSettings()"
      >
        <img
          src="assets/settings_icon_sidebarmenu.svg"
          alt=""
          matTooltip="Settings"
          matTooltipPosition="after"
          [matTooltipDisabled]="!sideBarMinimized"
        />
        <span>Settings</span>
      </div>

      <div class="menu-settings" *ngIf="!sideBarMinimized && showSettings">
        <div class="settings-actions" *ngIf="isProjectAdmin()">
          <p
            (click)="navigateToBasicSettings()"
            [ngClass]="{ 'selected': isBasicSettings }"
          >
            Basic settings
          </p>
          <p
            (click)="navigateToIssueTemplate()"
            [ngClass]="{ 'selected': isIssueTemplate }"
          >
            Issue template
          </p>
        </div>
        <div *ngIf="!isProjectAdmin()" class="settings-no-permission">
          <p>
            You don't have enough permission. Ask your supervisor to give you
            access to change project settings
          </p>
        </div>
      </div>

      <div
        class="menu-item"
        [ngClass]="{ 'selected': isSettings }"
        *ngIf="sideBarMinimized"
      >
        <tasque-menu-dropdown
          class="settings-dropdown"
          [upArrowIcon]="arrowRight"
          [downArrowIcon]="arrowRight"
        >
          <div dropdown-button (click)="toggleSettings()">
            <div class="settings-button">
              <img
                src="assets/settings_icon_sidebarmenu.svg"
                alt=""
                matTooltip="Settings"
                matTooltipPosition="after"
              />
            </div>
          </div>
          <div option *ngIf="isProjectAdmin()">
            <tasque-option (click)="navigateToBasicSettings()">
              Basic settings
            </tasque-option>
            <tasque-option (click)="navigateToIssueTemplate()"
              >Issue template</tasque-option
            >
          </div>
          <div option *ngIf="!isProjectAdmin()">
            <tasque-option>
              You don't have enough permission. Ask your supervisor to give you
              access to change project settings
            </tasque-option>
          </div>
        </tasque-menu-dropdown>
      </div>
    </section>
  </aside>
</div>
