<h1 mat-dialog-title>Create organization</h1>
    <div class="create-org-dialog">
        <form class="form-container" onSubmit="createOrganization()">
    <mat-dialog-content class="dialog-content">
        <tasque-input
            type="text"
            [invalid]="!this.createOrganizationForm.valid"
            [formControl]="createOrganizationForm"
            [class]="inputClass"
            [errorMessage]="createOrgErrorMessage"
            [placeholder]="placeholderText"
            [label]="inputLabel"
        ></tasque-input>
    </mat-dialog-content>
    <mat-dialog-actions class="dialog-options">
        <tasque-button
            [mat-dialog-close]="false"
            [text]="this.cancelBtnName"
            [class]="this.btnClass">
        </tasque-button>
        <tasque-button
            [mat-dialog-close]="isSucced"
            [text]="this.createBtnName"
            [class]="this.btnClass"
            (btnClick)="createOrganization()">
        </tasque-button>
    </mat-dialog-actions>
</form>
</div>

