@import 'src/colors.sass'

.task-creation-conteiner
    height: 100vh
    min-height: 100%
    width: 100%
    min-width: 100%
    display: flex
    flex-direction: column
    background: colorscheme(gray-100)
    font-family: 'Nunito'

.task-creation-header, .task-creation-footer
    height: 145px
    background: colorscheme(white-100)

.header-wrapper
    padding: 51px

.header-wrapper
    p,h5
        margin: 0px

.forget-pass
    transform: rotate(40deg)
    width: 100px

.task-creation-body
    flex-grow: 3
