<tasque-button class="fill" (click)="openSidebar()" text="Open Sidebar"></tasque-button>
<tasque-sidebar>
  <div class="task-creation-conteiner">
    <div class="task-creation-header">
      <div class="header-wrapper">
        <p class="task-id">TP-1</p>
        <h5 class="task-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
        <div class="icon-container">
          <a class="forget-pass" href="/">
            <fa-icon [icon]="faLink"></fa-icon>
          </a>
          <a class="forget-pass" href="/">
            <fa-icon [icon]="faPaperclip"></fa-icon>
          </a>
          <a class="forget-pass" href="/">
            <fa-icon [icon]="faCheckToSlot"></fa-icon>
          </a>
          <a class="forget-pass" href="/">
            <fa-icon [icon]="faShareNodes"></fa-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="task-creation-body"></div>
    <div class="task-creation-footer"></div>
  </div>
</tasque-sidebar>
