@import 'src/colors.sass'

.task-creation-conteiner
    height: 100vh
    min-height: 100%
    width: 100%
    min-width: 100%
    display: flex
    flex-direction: column
    background: colorscheme(gray-100)
    font-family: 'Nunito'

.task-creation-header, .task-creation-footer
    height: 145px
    background: colorscheme(white-100)

.header-wrapper
    padding: 51px

.header-wrapper
    p,h5
        margin: 0px

.task-id
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 19px
    color: colorscheme(black-100)
    opacity: 0.7

.task-title
    font-family: 'Nunito'
    font-style: normal
    font-weight: 700
    font-size: 18px
    line-height: 114.88%
    color: colorscheme(black-100)
    padding-top: 10px

fa-icon
    color: colorscheme(pink-200)
    font-size: 30px
    transform: rotate(20deg)
    &:hover
        opacity: 0.8
.forget-pass
    transform: rotate(40deg)
    width: 100px

.task-creation-body
    flex-grow: 3
