@import 'src/colors.sass'

.project-list
  font-family: 'Nunito', sans-serif
  font-style: normal
  overflow-y: auto

.cards-info
  display: flex
  justify-content: space-between
  align-items: center

.cards-info-actions
  margin-top: 16px
  margin-right: 40px
  display: flex

a
  margin: auto auto auto 16px

.title
  margin-bottom: 25px
  margin-left: 56px


.cards-items
  padding-top: 20px
