<div class="project-list">
  <div class="cards-info">
    <div class="cards-info-title">
      <h3 class="title">Your organization projects</h3>
    </div>
    <div class="cards-info-actions">
      <tasque-input class="search-input" type="search" [icon]="searchIcon" iconPosition="search" placeholder="Search..." [(ngModel)]="inputSearch" (ngModelChange)="filterItems()"></tasque-input>
      <app-create-project></app-create-project>
    </div>

  </div>
  <div class="cards">
    <div class="cards-items">
      <app-project-list-item *ngFor="let item of itemsShow;" [projectName]="item.name">

      </app-project-list-item>
    </div>
  </div>
</div>
