@import 'src/colors.sass'

.project-list
  font-family: 'Nunito', sans-serif
  font-style: normal
  position: fixed
  justify-content: space-between
  bottom: 0
  right: 0
  top: 10%
  width: calc(100% - 250px)
  height: auto
  min-height: 70px
  overflow-y: auto

.cards-info
  display: flex
  justify-content: space-between

tasque-input
  margin-right: 16px
  width: 292px

.cards-info-actions
  margin-top: 16px
  margin-right: 40px
  display: flex

a
  margin: auto auto auto 16px

.title
  margin-bottom: 25px
  margin-left: 56px

.cards
  height: 100%
  background-color: colorscheme(gray-100)

.cards-items
  padding-top: 20px
