<h1 mat-dialog-title>Create organization</h1>
    <div class="create-org-dialog">
    <mat-dialog-content class="dialog-content">
        <span class="input-title">Name</span>
        <tasque-input 
            type="text"
            id="organizationName"
            #organizationName
            [class]="inputClass"
            [width]="325"
            [placeholder]="placeholderText"
            [type]="inputType"
            [borderRadius]="10"
            [label]="inputLabel"
        ></tasque-input>
    </mat-dialog-content>
    <mat-dialog-actions class="dialog-options">
        <tasque-button 
            [mat-dialog-close]="false"
            [text]="this.cancelBtnName"
            [class]="this.btnClass">
        </tasque-button>
        <tasque-button 
            [mat-dialog-close]="true"
            [text]="this.createBtnName"
            [class]="this.btnClass"
            (btnClick)="createOrganization(organizationName.value)">
        </tasque-button>
    </mat-dialog-actions>
</div>

