<tasque-button [icon]="faArrow" class="btn icon back-button" routerLink="../login"></tasque-button>
<form [formGroup]="loginForm" class="login-form" class="form-container">
  <div class="text-container">
    <h4 class="login-title">Forgot password</h4>
    <span class="label-14">Enter your email and we'll send you a link to reset your password</span>
  </div>
  <tasque-input label="Email" placeholder="Enter your email" [errorMessage]="emailErrorMessage" [invalid]="!emailControl.valid" formControlName="emailControl"></tasque-input>
  <div class="button-container">
    <tasque-button text="Send email" class="btn fill full-width" (btnClick)="submit()"></tasque-button>
  </div>
</form>
