<div class="spinner-wrapper" *ngIf="hasKey == undefined || (hasKey && isValidKey == undefined)">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="hasKey == false">
  <tasque-button [icon]="faArrow" class="btn icon back-button" routerLink="../login"></tasque-button>
  <form [formGroup]="requestForm" class="login-form" class="form-container">
    <div class="text-container">
      <h4 class="login-title">Forgot password</h4>
      <span class="label-14">Enter your email and we'll send you a link to reset your password</span>
    </div>
    <tasque-input label="Email" placeholder="Enter your email" [errorMessage]="emailErrorMessage" [invalid]="!emailControl.valid" formControlName="emailControl"></tasque-input>
    <div class="button-container">
      <tasque-button text="Send email" class="btn fill full-width" (btnClick)="submitEmail()"></tasque-button>
    </div>
  </form>
</div>
<div *ngIf="isValidKey">
  <form class="form-container" [formGroup]="resetForm">
    <div class="text-container">
      <h4 class="login-title">Reset password</h4>
      <span class="label-14">Enter new password</span>
    </div>
    <tasque-input label="Password" (ngModelChange)="resetPasswordControl()" placeholder="Enter new password" type="password" [formControl]="passwordControl" [errorMessage]="passwordErrorMessage" [invalid]="!passwordControl.valid" [icon]="faShow" iconPosition="right" #passwordInput (iconClick)="flipPassword(passwordInput)"></tasque-input>
    <tasque-input label="Repeat password" (ngModelChange)="resetPasswordControl()" placeholder="Repeat new password" type="password" [formControl]="passwordRepeatControl" [errorMessage]="passwordRepeatErrorMessage" [invalid]="!passwordRepeatControl.valid" [icon]="faShow" iconPosition="right" #passwordRepeatInput (iconClick)="flipPassword(passwordRepeatInput)"></tasque-input>
    <div class="button-container">
      <tasque-button text="Reset password" class="btn fill full-width" (btnClick)="submitPassword()"></tasque-button>
    </div>
  </form>
</div>
