@import 'src/colors.sass'

.settings-template-form
  margin: 10px 15px 10px 15px 

.settings-label
  padding: 20px 0px 10px 0px

.select-setting-container
  display: flex
  align-items: center
  justify-content: space-around
  padding: 10px

.selected-setting
  display: flex
  align-items: center
  margin-right: 55px

.settings-dropdown
  --label-text-color: colorscheme(black-100)
  --label-text-hover-color: grey

.setting-name, .settings-dropdown
  font-size: 28px

.settings-container
  display: flex
  flex-direction: column
  margin-top: 40px

.empty-selected-setting-warning
  text-align: center
  padding: 20px
  margin-top: 40px
  border: dashed
  border-color: colorscheme('gray-400')
  color: colorscheme('dark-grey-100')
  p
    font-size: 16px 
