@import 'src/colors.sass'

header
    font-family: 'Nunito'
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 25px
    display: flex
    align-items: center
    justify-content: space-between
    top: 0px
    right: 0px
    width: 100%
    height: 8%
    min-height: 70px
    background-color: colorscheme(violet-400)
    color: colorscheme(white-100)
    padding: 10px
    z-index: 2
    
header div
    display: flex
    align-items: center
    justify-content: space-between

.navigation-panel div
    margin-left: 25px
    cursor: pointer

.navigation-panel div:last-child
    display: flex
    width: 90px
    height: 45px
    background-color: colorscheme(pink-200)
    border-radius: 50px
    justify-content: center

.user-panel div
    margin-right: 25px
    cursor: pointer

