<header>
  <div class="navigation-panel">
    <tasque-menu-dropdown>
      <span dropdown-button> Your work </span>
      <tasque-option option> One task </tasque-option>
      <tasque-option option> Some task </tasque-option>
    </tasque-menu-dropdown>
    <tasque-menu-dropdown>
      <span dropdown-button> My Projects </span>
      <tasque-option header> Recent Projects </tasque-option>
      <tasque-option option> Last Project </tasque-option>
      <tasque-option option> Previous Project </tasque-option>
      <tasque-option footer (click)="manageMyProjectsClick()"> Manage my projects </tasque-option>
    </tasque-menu-dropdown>
    <span class="button">Calendar</span>
    <tasque-menu-dropdown class="button-like" [toggleDropdownOnButtonClick]="false" separator="|">
      <tasque-task-creation
        dropdown-button
        buttonText="Create task"
        btnClass="btn white"
      ></tasque-task-creation>
      <tasque-option option (click)="openCreateProjectDialog()">
        <p>Create Project</p>
      </tasque-option>
      <tasque-option option (click)="openCreateOrganizationDialog()">
        <p>Create Organization</p>
      </tasque-option>
    </tasque-menu-dropdown>
  </div>
  <div class="center-panel">
    <tasque-organizations-dropdown [currentUser]="currentUser" class="button"></tasque-organizations-dropdown>
  </div>
  <div class="user-panel">
    <div class="search-input">
      <tasque-input
        class="search-input header-extension"
        type="search"
        placeholder="Search..."
        [icon]="searchIcon"
        iconPosition="search"
      >
      </tasque-input>
    </div>
    <img class="button-icon" src="\assets\bell_icon.svg" />
    <img class="button-icon" src="\assets\settings_icon.svg" />
    <tasque-menu-dropdown
      class="profile-dropdown"
      [upArrowIcon]="upArrowIcon"
      [downArrowIcon]="downArrowIcon"
    >
      <tasque-avatar dropdown-button [user]="currentUser" [diameter_px]="45"></tasque-avatar>
      <tasque-option option (click)="profileSettingsClick()"> Profile settings </tasque-option>
      <tasque-option option (click)="logoutClick()"> Log out </tasque-option>
    </tasque-menu-dropdown>
  </div>
</header>
