<header>
  <div class="navigation-panel">
    <div [matMenuTriggerFor]="workMenu">
      <span>Your work</span>
      <img src="..\..\assets\arrow_icon.svg">
      <mat-menu #workMenu="matMenu">
        <button mat-menu-item>One task</button>
        <button mat-menu-item>Some task</button>
      </mat-menu>
    </div>
    <div [matMenuTriggerFor]="projectMenu">
      <span>Project</span>
      <img src="..\..\assets\arrow_icon.svg">
      <mat-menu #projectMenu="matMenu">
        <button mat-menu-item>Last project</button>
        <button mat-menu-item>Previous project</button>
      </mat-menu>
    </div>
    <div>
      <tasque-organizations-dropdown></tasque-organizations-dropdown>
    </div>
    <div>
      <span>Calendar</span>
    </div>
    <div [matMenuTriggerFor]="createMenu">
      <span>Create</span>
      <mat-menu #createMenu="matMenu">
        <button mat-menu-item>Issue</button>
        <button mat-menu-item>Board</button>
        <button mat-menu-item>Project</button>
      </mat-menu>
    </div>
  </div>
  <div class="user-panel">
    <div class="search-input">
      <tasque-input
        style="width: 100%"
        type="search" 
        placeholder="Search..."
        [borderRadius]="50">
      </tasque-input>
    </div>
    <div>
      <img src="..\..\assets\bell_icon.svg">
    </div>
    <div>
      <img src="..\..\assets\settings_icon.svg">  
    </div>
    <div [matMenuTriggerFor]="profileMenu">
      <img src="..\..\assets\avatar.png" width="45px" height="45px">
      <img src="..\..\assets\arrow_full_icon.svg">
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item>Profile settings</button>
        <button mat-menu-item>Log out</button>
      </mat-menu>
    </div>
  </div>
</header>
