<header>
  <div class="navigation-panel">
    <tasque-menu-dropdown label="Your work">
      <tasque-option> One task </tasque-option>
      <tasque-option> Some task </tasque-option>
    </tasque-menu-dropdown>
    <tasque-menu-dropdown
      label="My Projects"
      headerLabel="Recent Projects"
      footerLabel="Manage my projects"
      (footerClicked)="openProjectsPage()"
    >
      <tasque-option header> Recent Projects </tasque-option>
      <tasque-option> Last Project </tasque-option>
      <tasque-option> Previous Project </tasque-option>
      <tasque-option footer (click)="manageMyProjectsClick()"> Manage my projects </tasque-option>
    </tasque-menu-dropdown>
    <span class="button">Calendar</span>
    <tasque-menu-dropdown
      class="button-like"
      label="Create task"
      [toggleDropdownOnLabelClick]="false"
      (labelClicked)="openCreateTaskDialog()"
    >
      <tasque-option>
        <tasque-task-creation></tasque-task-creation>
        <!-- <app-create-organization></app-create-organization> -->
        <!-- <app-create-project></app-create-project> -->
      </tasque-option>
      <tasque-option> Create project </tasque-option>
    </tasque-menu-dropdown>
  </div>
  <div class="center-panel">
    <tasque-organizations-dropdown [currentUser]="currentUser" class="button"></tasque-organizations-dropdown>
  </div>
  <div class="user-panel">
    <div class="search-input">
      <tasque-input
        class="search-input header-extension"
        type="search"
        placeholder="Search..."
        [icon]="searchIcon"
        iconPosition="search"
      >
      </tasque-input>
    </div>
    <img class="button-icon" src="\assets\bell_icon.svg" />
    <img class="button-icon" src="\assets\settings_icon.svg" />
    <tasque-menu-dropdown
      class="profile-dropdown"
      [hasAvatar]="true"
      [user]="currentUser"
      [upArrowIcon]="upArrowIcon"
      [downArrowIcon]="downArrowIcon"
    >
      <tasque-option (click)="profileSettingsClick()"> Profile settings </tasque-option>
      <tasque-option (click)="logoutClick()"> Log out </tasque-option>
    </tasque-menu-dropdown>
  </div>
</header>
