<div class="label-field">
    <div class="field-name">
        <span>{{field.name}}</span>
    </div>
    <hr>
    <div *ngFor="let label of labels" class="label">
        <div class="label-color" [style.background-color]="label.color"></div>
        <span>{{label.name}}</span>
        <tasque-button style="margin-left: 10px" (btnClick)="deleteLabel(label)" [icon]="faMinus" class="btn icon"></tasque-button>
    </div>
    <div *ngIf="isChanging" class="edit-label">
        <input class="custom-input" type="color" [(ngModel)]="newField.color">
        <input class="custom-input" placeholder="Write label name" type="text" [(ngModel)]="newField.name">
        <tasque-button class="btn icon" [icon]="faCheck" (btnClick)="saveLabel()"></tasque-button>
    </div>
    <div class="create-label">
        <span>Add new label</span>
        <tasque-button style="margin-left: 10px" class="btn icon" [icon]="faPlus" (btnClick)="addLabel()"></tasque-button>
    </div>
    <tasque-button style="margin-left: 10px" class="btn mini" text="Finish editing" (btnClick)="finishEdit()"></tasque-button>
    <div class="warning">
        <span>Data will be saved</span>
    </div>
</div>