<div class="rich-text-editor-wrapper" tabindex="0">
  <div #editor class="editor" [innerHtml]="description" (input)="onInput($event.target.innerHTML)" contenteditable></div>
  <hr />
  <div class="editControls" onmousedown="return false">
    <div class="btn-group">
      <tasque-button type="button" [icon]="faReply" class="btn" (click)="undo()"> </tasque-button>
      <tasque-button type="button" [icon]="faShare" class="btn" (click)="redo()"> </tasque-button>
      <div class="vl"></div>
      <tasque-button type="button" [icon]="faBold" class="btn" (click)="setStyle('bold')"></tasque-button>
      <tasque-button type="button" [icon]="faItalic" class="btn" (click)="setStyle('italic')"></tasque-button>
      <tasque-button type="button" class="btn" [icon]="faUnderline" (click)="setStyle('underline')"> </tasque-button>
      <div class="dropdown">
        <tasque-button type="button" class="btn" [icon]="faFont" (click)="setStyle('underline')"> </tasque-button>
        <div class="dropdown-content">
          <p onmousedown="return false" (click)="setfontSize('1')">1</p>
          <p onmousedown="return false" (click)="setfontSize('2')">2</p>
          <p onmousedown="return false" (click)="setfontSize('3')">3</p>
          <p onmousedown="return false" (click)="setfontSize('4')">4</p>
          <p onmousedown="return false" (click)="setfontSize('5')">5</p>
          <p onmousedown="return false" (click)="setfontSize('6')">6</p>
          <p onmousedown="return false" (click)="setfontSize('7')">7</p>
        </div>
      </div>
      <div class="vl"></div>
    </div>
    <tasque-button type="button" [icon]="faAlignLeft" class="btn" (click)="setStyle('justifyLeft')"> </tasque-button>
    <tasque-button type="button" [icon]="faAlignCenter" class="btn" (click)="setStyle('justifyCenter')"> </tasque-button>
    <tasque-button type="button" [icon]="faAlignRight" class="btn" (click)="setStyle('justifyRight')"> </tasque-button>
    <tasque-button type="button" [icon]="faAlignJustify" class="btn" (click)="setStyle('justifyFull')"> </tasque-button>
    <tasque-button type="button" [icon]="faIndent" class="btn" (click)="setStyle('indent')"> </tasque-button>
    <tasque-button type="button" [icon]="faOutdent" class="btn" (click)="setStyle('outdent')"> </tasque-button>
    <tasque-button type="button" [icon]="faList12" class="btn" (click)="setList('insertOrderedList')"> </tasque-button>
    <tasque-button type="button" [icon]="faList" class="btn" (click)="setList('InsertUnorderedList')"> </tasque-button>
  </div>
</div>
