.register-page
    display: flex
    justify-content: center
    align-items: center
    flex-direction: row

.logo-container
    width: 1176.03px
    height: 1080px
    display: flex
    justify-content: center
    align-items: center
    background: #aaa

.logo
    width: 949.59px
    height: 181.67px
    background: #fff

.sign-up-btn
    width: 325px
    margin-top: 20px

.form-input
    margin: 0 17.65px 0 17.65px

.data-container
    margin-left: 221.97px