<div class="register-page">
    <div class="logo-container">
        <div class="logo"></div>
    </div>
    <div class="data-container">
        <div class="input-container">
            <tasque-input 
                class="form-input"
                [class]="inputClass"
                [width]="325"
                [placeholder]="this.placeholderName"
                [type]="this.inputText"
                [borderRadius]="10"
                [label]="labelName"
                >
            </tasque-input>
            <tasque-input 
                class="form-input"
                [class]="inputClass"
                [width]="325"
                [placeholder]="this.placeholderEmail"
                [type]="this.inputEmail"
                [borderRadius]="10"
                [label]="labelEmail"
                [errorMessage]="errorMailMessage"
                [isValid]="true"
                >
            </tasque-input>
            <tasque-input 
                class="form-input"
                [class]="inputClass"
                [width]="325"
                [placeholder]="this.placeholderPassword"
                [type]="this.inputPassword"
                [borderRadius]="10"
                [label]="labelPassword"
                >
            </tasque-input>
        </div>
        <tasque-button 
            class="sign-up-btn"
            [text]="buttonText"
            [class]="buttonClass"
            >
        </tasque-button>
    </div>
</div>