<div class="register-page">
    <div class="logo-container">
        <div class="logo"></div>
    </div>
    <div class="data-container">
        <form ngSubmit="sendForm()" class="input-container">
            <tasque-input 
                class="form-input"
                (value)="this.userName"
                [class]="inputClass"
                [width]="325"
                [placeholder]="this.placeholderName"
                [type]="this.inputText"
                [borderRadius]="10"
                [label]="labelName"
                >
            </tasque-input>
            <tasque-input 
                class="form-input"
                (value)="this.userEmail"
                [class]="inputClass"
                [width]="325"
                [placeholder]="this.placeholderEmail"
                [type]="this.inputEmail"
                [borderRadius]="10"
                [label]="labelEmail"
                [errorMessage]="errorMailMessage"
                [isValid]="true"
                >
            </tasque-input>
            <tasque-input 
                class="form-input"
                (value)="this.userPassword"
                [class]="inputClass"
                [width]="325"
                [placeholder]="this.placeholderPassword"
                [type]="this.inputPassword"
                [borderRadius]="10"
                [label]="labelPassword"
                >
            </tasque-input>
        </form>
        <tasque-button 
            class="sign-up-btn"
            [text]="buttonText"
            [class]="buttonClass"
            (btnClick)="sendForm()"
            >
        </tasque-button>
    </div>
</div>


<!-- [(ngModel)]="this.userPassword"
name="userPassword"
#userPassword="ngModel"


[(ngModel)]="this.userEmail"
name="userEmail"
#userEmail="ngModel"


[(ngModel)]="this.userName"
name="userName"
#userName="ngModel" -->