@import 'src/colors.sass'

.mat-dialog-actions
    min-height: 20px

.edit-task-dialog
    height: 100%
    
.item-wrapper
    display: flex
    align-items: center
    margin-bottom: 15px
    .item-label
        font-size: 14px
        color: colorscheme(gray-500)
        width: 85px
        word-wrap: break-word
    .item-text
        width: calc( 100% - 85px )
        word-wrap: break-word

.edit-task-dialog
    padding-top: 15px
    padding-left: 45px
    padding-right: 30px
