<form class="edit-task-dialog" [formGroup]="editTaskForm">
  <div class="button-panel" align="end">
    <tasque-button class="btn icon" [icon]="buttonIcon" [mat-dialog-close]="true"></tasque-button>
  </div>

  <div class="task-summary-container">
    <span class="item-label">Project-ID</span>
    <h5>
      {{ task.summary }}
      <div class="task-summary-buttons">
        <span>paper clip </span>
        <span>smile </span>
        <span>threedots </span>
      </div>
    </h5>
  </div>

  <div class="task-info-container">
    <div class="item-wrapper">
      <span class="item-label">Project</span>
      <tasque-dropdown
        width="200px"
        [options]="projectOptions"
        formControlName="taskProject"
      ></tasque-dropdown>
    </div>
    <div class="item-wrapper">
      <span class="item-label">Status</span>
      <tasque-dropdown
        width="200px"
        [options]="taskStatusOptions"
        formControlName="taskStatus"
      ></tasque-dropdown>
    </div>
    <div class="item-wrapper">
      <span class="item-label">Priority</span>
      <tasque-dropdown
        width="200px"
        [options]="taskPriorityOptions"
        formControlName="taskPriority"
      ></tasque-dropdown>
    </div>
    <div class="item-wrapper">
      <span class="item-label">Sprint</span>
      <tasque-dropdown
        width="80px"
        [options]="taskSprintOptions"
        formControlName="taskSprint"
      ></tasque-dropdown>
    </div>
    <div class="item-wrapper">
      <span class="item-label">Assignee</span>
      <span formControlName="taskAssignees">User Select Button</span>
    </div>
    <div class="item-wrapper">
      <span class="item-label">Reporter</span>
      <span formControlName="taskReporter">Some User Info</span>
    </div>
    <div class="item-wrapper">
      <span class="item-label">Description</span>

      <div class="item-text {{ editorDescriptionItemClass }}" (click)="spanClick()">
        <span *ngIf="task.description">
          {{ task.description }}
        </span>
        <span *ngIf="!task.description">-</span>
      </div>

      <angular-editor
        id="editorDescription"
        formControlName="editorDescription"
        [config]="editorConfig"
        placeholder="Type some text..."
        class="editor {{ editorDescriptionClass }}"
      >
      </angular-editor>
    </div>
  </div>

  <div class="subtask-container">
    <h5>Subtask</h5>
    <tasque-button class="btn mini" text="+ Add issues"></tasque-button>
  </div>

  <div class="comments-container">
    <h5>Comments</h5>
  </div>

  <div class="user-comment-container">
    <span>avatar</span>
    <div class="input-wrapper">
      <tasque-input placeholder="Type a comment"></tasque-input>
    </div>
    <div class="user-comment-buttons">
      <span>paper clip</span>
      <span>smile </span>
      <span>threedots </span>
    </div>
  </div>
</form>
