<div layout-sm class="wrapper select-user">
  <h3 class="text-center">Select Users</h3>
  <div class="users-table">
    <mat-grid-list rowHeight="84px" cols="1">
      <mat-grid-tile [rowspan]="1" class="left">
        <div class="container w-65 left">
          <button class="mat-button-primary right" mat-flat-button color="primary" (click)="add()">Add User</button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="list" [rowspan]="rowspan">
        <mat-list role="list">
          <mat-divider></mat-divider>
          <mat-list-item role="listitem" *ngFor="let user of users$ | async">
            <div class="user-data">
              <img [src]="user.avatarURL" alt="user's avatar" class="avatar" />
              <span class="username">{{ user.username }}</span>
            </div>
            <div class="user-actions">
              <mat-form-field class="role-input" appearance="fill" *ngIf="board.hasRoles">
                <mat-label>Role</mat-label>
                <mat-select>
                  <mat-option *ngFor="let role of roles" [value]="role.id">
                    {{ user.role }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-mini-fab color="primary" class="mat-button-action" (click) = "delete(user.email)">
                <mat-icon>clear</mat-icon>
              </button>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
<router-outlet></router-outlet>
