<tasque-sidebar
  name="task-editing-{{ task.id }}"
  [btnText]="btnText"
  [btnClass]="btnClass"
  [btnIcon]="btnIcon"
>
  <form class="edit-task-dialog" [formGroup]="editTaskForm">
    <div class="task-summary-container">
      <span class="item-label"> {{ task.key }}</span>
      <h5>
        <div class="summary-text-wrapper" *ngIf="!this.summaryInputShow">
          <span class="summary-text" [innerHTML]="editTaskForm.controls.summary.value"> </span>
          <tasque-button class="btn icon edit" [icon]="editIcon" (click)="summaryClick()"></tasque-button>
        </div>

        <div
          class="input-wrapper"
          *ngIf="this.summaryInputShow"
          (clickOutside)="summaryInputOutsideClick()"
          [delayClickOutsideInit]="true"
        >
          <tasque-input
            placeholder="Type some text"
            formControlName="summary"
            errorMessage=""
            [invalid]="editTaskForm.controls.summary.valid"
          >
          </tasque-input>
        </div>

        <div class="task-summary-buttons">
          <tasque-button class="btn icon pink" [icon]="linkIcon"></tasque-button>
          <tasque-button class="btn icon pink" [icon]="paperClipIcon"></tasque-button>
          <tasque-button class="btn icon pink" [icon]="checkIcon"></tasque-button>
          <tasque-button class="btn icon pink" [icon]="shareIcon"></tasque-button>
          <tasque-button class="btn icon" [icon]="ellipsisIcon"></tasque-button>
        </div>
      </h5>
      <span class="error" *ngIf="this.editTaskForm.controls.summary.invalid">{{ summaryErrorMessage }}</span>
    </div>

    <div class="task-main-container">
      <div class="task-info-container">
        <div class="item-wrapper">
          <span class="item-label">Project</span>
          <tasque-dropdown
            class="red"
            width="200px"
            [options]="projectOptions"
            formControlName="project"
          ></tasque-dropdown>
        </div>

        <div class="item-wrapper">
          <span class="item-label">Status</span>
          <tasque-dropdown width="200px" [options]="statusOptions" formControlName="status"></tasque-dropdown>
        </div>

        <div class="item-wrapper">
          <span class="item-label">Priority</span>
          <tasque-dropdown
            width="200px"
            [options]="priorityOptions"
            formControlName="priority"
          ></tasque-dropdown>
        </div>

        <div class="item-wrapper">
          <span class="item-label">Type</span>
          <tasque-dropdown width="200px" [options]="typeOptions" formControlName="type"></tasque-dropdown>
        </div>

        <div class="item-wrapper">
          <span class="item-label">Sprint</span>
          <tasque-dropdown
            width="80px"
            optionsWidth="max-content"
            [options]="sprintOptions"
            formControlName="sprint"
          ></tasque-dropdown>
        </div>

        <div class="item-wrapper">
          <span class="item-label">Assignees</span>
          <tasque-select-users
            (onAdd)="addUser($event)"
            (onDelete)="deleteUser($event)"
            [board]="board"
          ></tasque-select-users>
        </div>
        <div class="item-wrapper">
          <span class="item-label">Reporter</span>
          <div class="user-info" *ngIf="task.author">
            <tasque-avatar [user]="task.author" [diameter_px]="30" alt="avatar"></tasque-avatar>
            <span> {{ task.author.name }}</span>
          </div>
        </div>

        <div class="item-wrapper">
          <span class="item-label">Description</span>

          <div class="fill-description-width">
            <div class="description-text-wrapper" *ngIf="!this.descriptionEditorShow">
              <span class="description-text" [innerHTML]="editTaskForm.controls.description.value"> </span>
              <tasque-button
                class="btn icon edit"
                [icon]="editIcon"
                (click)="descriptionClick()"
              ></tasque-button>
            </div>

            <angular-editor
              *ngIf="this.descriptionEditorShow"
              (clickOutside)="descriptionEditorOutsideClick()"
              [delayClickOutsideInit]="true"
              id="descriptionEditor"
              formControlName="description"
              [config]="editorConfig"
              placeholder="Type some text..."
              class="description-editor"
            >
            </angular-editor>

            <span class="error" *ngIf="editTaskForm.controls.description.invalid">{{
              descriptionErrorMessage
            }}</span>
          </div>
        </div>
      </div>

      <div class="subtask-container">
        <h5>Subtask</h5>
        <tasque-button class="btn mini" text="+ Add issues"></tasque-button>
      </div>

      <div class="submit-buttons">
        <tasque-button type="submit" class="btn stroke" text="Clear form" (click)="clearForm()">
        </tasque-button>
        <tasque-button type="submit" class="btn fill" text="Update" (click)="submitForm()"> </tasque-button>
      </div>

      <div class="comments-container">
        <h5>Comments</h5>
      </div>
    </div>

    <div class="user-comment-container">
      <tasque-avatar [user]="currentUser" [diameter_px]="45" alt="avatar"></tasque-avatar>

      <div class="input-wrapper">
        <tasque-input placeholder="Type a comment"></tasque-input>
      </div>

      <div class="user-comment-buttons">
        <tasque-button class="btn icon" [icon]="linkIcon"></tasque-button>
        <tasque-button class="btn icon" [icon]="faceSmileIcon"></tasque-button>
        <tasque-button class="btn icon" [icon]="ellipsisIcon"></tasque-button>
      </div>
    </div>
  </form>
</tasque-sidebar>
