<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logDirectory" value="${basedir}/backend-logs"/>

  <targets>
    <target xsi:type="File" name="fullLog" fileName="${logDirectory}/${shortdate}-log.json">
      <layout xsi:type="JsonLayout" >
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}" />
      </layout>
    </target>
    <target xsi:type="File" name="errLog" fileName="${logDirectory}/${shortdate}-errLog.json">
      <layout xsi:type="JsonLayout" >
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}" />
      </layout>
    </target>
    <target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="fullLog" />
    <logger name="*" minlevel="Error" writeTo="errLog" />
    <logger name="Microsoft.Hosting.Lifetime" minLevel="Info" writeTo="lifetimeConsole" final="true"/>
  </rules>
</nlog>
