@import 'src/colors.sass'

.auth-container
  height: 100vh
  min-height: 100%
  width: 100%
  min-width: 100%
  display: grid
  grid-template-columns: 3fr 2fr
  align-items: center
  margin: -10px -10px -10px -10px

.logo-container
  height: 100%
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-image: url('/assets/background.png')

.logo-blur
  height: 100%
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  background-color: rgba(colorscheme(violet-400), 0.85)
  backdrop-filter: blur(8px)

.logo-blur > div
  text-align: center

.logo
  width: 60%
  display: flex
  align-items: center
  justify-content: center

// Form styles

.form-container
  min-width: 40%
  background-color: colorscheme(white-100)
  height: 100%
  display: flex
  flex-flow: column
  justify-content: center
  align-items: center

.form-container > div
  width: 50%

.login-title
  color: colorscheme(violet-400)
  font-family: 'Nunito'
  font-style: normal
  font-weight: 700
  font-size: 24px
  line-height: 114.88%
  text-align: left
  margin: 0
  padding: 0

.logo
  width: 75%
  display: flex
  align-items: center
  justify-content: center

.logo-text
  vertical-align: middle
  color: colorscheme(black-100)
  font-size: 58px
  padding: 0 50px

.input-container
  font-family: 'Nunito'
  font-style: normal
  font-weight: 400
  color: colorscheme(black-100)
  margin-top: 15px

.input
  box-sizing: border-box
  border-radius: 10px
  height: 45px
  left: 0px
  right: 0px
  background: colorscheme(gray-200)
  border: none
  font-size: 14px
  line-height: 19px
  display: flex
  align-items: center
  padding-left: 15px
  &:focus
    outline: none
    border: 2px solid colorscheme(violet-200)
    caret-color: colorscheme(violet-200)

.password-container
  position: relative

.hide-icon
  position: absolute
  right: 15px
  top: 12px
  cursor: pointer
  color: colorscheme(gray-500)

.input-container label
  position: relative
  height: 17px
  left: 0px
  top: 0.18px
  font-size: 12px
  line-height: 16px
  display: flex
  align-items: center

.error
  color: colorscheme(pink-300)

::placeholder
  color: colorscheme(gray-400)

.button-container
  margin-top: 20px

.label-container
  display: flex
  justify-content: space-between

.sign-up-container
  margin-top: 5px
  font-size: 14px
  white-space: break-spaces
  font-family: 'Nunito'

.link
  text-decoration: none
