.header
  display: flex
  flex-flow: row
  justify-content: space-between

.container
  padding: 10px 25px

.grid
  --grid-layout-gap: 20px
  --grid-column-count: 10
  --grid-item--min-width: 100px

  --gap-count: calc(var(--grid-column-count) - 1)
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap))
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count))

  display: grid
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr))
  grid-gap: var(--grid-layout-gap)

.user-wrp
  display: flex
  flex-flow: column
  align-content: center
  span
    align-self: center

.text-wrp
  display: flex
  flex-flow: column
  padding-top: 5px
  text-align: center

.text-16
  font-size: 16px

.text-14
  font-size: 14px
