.header
  display: flex
  flex-flow: row
  justify-content: space-between
  padding-top: 30px
  padding-bottom: 30px

.container
  padding-left: 60px
  padding-right: 60px

.grid
  --grid-layout-gap: 20px
  --grid-column-count: 10
  --grid-item--min-width: 100px

  --gap-count: calc(var(--grid-column-count) - 1)
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap))
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count))

  display: grid
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr))
  grid-gap: var(--grid-layout-gap)

.user-wrp
  display: flex
  flex-flow: column
  align-items: center
  span
    align-self: center
  > tasque-avatar
    transform: scale(0.75)
    transition: all 0.2s ease-in-out
    &:hover
      transform: scale(1)

.text-wrp
  display: flex
  flex-flow: column
  padding-top: 5px
  text-align: center
  width: 100%
  > *
    width: 100%
    overflow: hidden
    text-overflow: ellipsis

.text-16
  font-size: 16px

.text-14
  font-size: 14px
