<form [formGroup]="createProjectForm" class="create-project-dialog">
  <mat-dialog-content class="dialog-content">
    <h3>
      Create project
      <span class="dialog-info">You can change these details anytime in your project settings.</span>
    </h3>
    <div class="tasque-input">
      <tasque-input [class]="this.inputNameClass" [id]="this.inputNameId" [placeholder]="this.inputNamePlaceholder" [label]="this.inputNameLabel" name="fieldName" [formControl]="projectNameControl" [invalid]="!projectNameControl.valid" [errorMessage]="projectNameErrorMessage"> </tasque-input>
    </div>
    <div class="tasque-input">
      <tasque-input [class]="this.inputKeyClass" [id]="this.inputKeyId" [placeholder]="this.inputKeyPlaceholder" [label]="this.inputKeyLabel" [(ngModel)]="newProjectKey" name="fieldName" [formControl]="projectKeyControl" [invalid]="!projectKeyControl.valid" [errorMessage]="projectKeyErrorMessage"> </tasque-input>
    </div>
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions class="dialog-options" align="end">
    <tasque-button [text]="this.cancelBtnName" [class]="this.cancelBtnClass" (click)="onClose()"> </tasque-button>
    <tasque-button type="submit" [text]="this.createBtnName" [class]="this.createBtnClass" (btnClick)="onSubmit()"> </tasque-button>
  </mat-dialog-actions>
</form>
