<form #projectForm="ngForm" class="create-project-dialog" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="dialog-content">
    <h3>
      Add project details
      <span class="dialog-info">You can change these details anytime in your project settings.</span>
    </h3>
    <div class="tasque-input">
      <tasque-input
        [class]="this.inputNameClass"
        [id]="this.inputNameId"
        [placeholder]="this.inputNamePlaceholder"
        [label]="this.inputNameLabel"
        [(ngModel)]="newProjectName"
        name="fieldName" ngDefaultControl
        #projectName required>
      </tasque-input>
    </div>
    <div class="tasque-input">
      <tasque-input
        [class]="this.inputKeyClass"
        [id]="this.inputKeyId"
        [label]="this.inputKeyLabel"
        #projectKey>
      </tasque-input>
    </div>
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions class="dialog-options" align="end">
    <tasque-button
      [mat-dialog-close]="false"
      [text]="this.cancelBtnName"
      [class]="this.cancelBtnClass">
    </tasque-button>
    <tasque-button
      [mat-dialog-close]="true"
      type="submit"
      [text]="this.createBtnName"
      [class]="this.createBtnClass + (projectForm.invalid ? ' disabled' : '')"
    >

    </tasque-button>
  </mat-dialog-actions>
</form>
