<div class="board">
    <div class="board-info">
      <div class="board-title">
        <span class="project-name">Project / {{board.projectName}}</span>
        <span class="board-name">{{board.name}}</span>
      </div>
      <div class="board-tools">
        <img src="assets/board/lightning.svg">
        <img src="assets/board/star.svg">
        <app-complete-sprint></app-complete-sprint>
        <img src="assets/board/share.svg">
        <img src="assets/board/menu.svg">
      </div>
    </div>
    <div class="board-panel">
      <div class="task-menu">
        <div class="project-team">
          <div class="search-input-container">
            <tasque-input class="search-input" #searchInput (input)="filterTasks()" type="search" [icon]="searchIcon" iconPosition="search" placeholder="Search..."></tasque-input>
          </div>
          <div class="team-container">
            <tasque-team-select [avatars]="board.users" (selectedUser)="userSelected($event)"></tasque-team-select>
          </div>
        </div>
        <div class="filter">
          <img src="assets/board/filter.svg">
        </div>
      </div>
      <div class="no-tasks" *ngIf="!hasTasks">
        <h4>There are no tasks yet. You can create the first one.</h4>
      </div>
      <div class="board-columns" cdkDropListGroup>
        <div cdkDropList *ngFor="let item of columns"
        (cdkDropListDropped)="dragDrop($event)"
        [cdkDropListData]="item.tasks" class="column-with-tasks">
          <div class="column-title">
            <div class="board-list">
              <span class="column-name">{{item.name}}</span>
              <span class="column-element-count"> ({{item.tasks.length}})</span>
            </div>
            <div class="column-tools">
              <span>+</span>
              <img src="assets/board/column_menu.svg"> 
            </div>  
          </div>
          <div class="column" *ngFor="let task of item.tasks" cdkDrag> 
            <tasque-card *ngIf="!task.isHidden" [taskInfo]="task"></tasque-card>
          </div>
        </div>
        <div class="create-column" (mouseleave)="onClickedOutside()">
          <span *ngIf="!isOpenColumnAddDialog" (click)="openAddColumn()">+ Add Section</span>
          <div *ngIf="isOpenColumnAddDialog">
            <form [formGroup]="createColumnForm" (ngSubmit)="addColumn()">
              <tasque-input type="text" placeholder="Type name" formControlName="columnName" [invalid]="!createColumnForm.valid && createColumnForm.touched" errorMessage="required" [icon]="plusIcon" iconPosition="right" (iconClick)="addColumn()"></tasque-input>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
