<div *ngIf="!isShow">
  <mat-spinner style="margin: 250px auto" mode="indeterminate"> </mat-spinner>
</div>
<div
  class="board"
  *ngIf="isShow && project && columns && projectTasks && projectUsers"
>
  <div class="board-info">
    <div class="board-title">
      <span class="project-name">
        <a class="project-route" href="/projects">Project</a> /
        {{ project.name }}</span
      >
      <span class="board-name">{{ project.name }}</span>
    </div>
    <div class="board-tools">
      <img src="assets/board/lightning.svg" />
      <img src="assets/board/star.svg" />
      <app-complete-sprint *ngIf="isCurrentUserAdmin"></app-complete-sprint>
      <img src="assets/board/share.svg" />
      <img src="assets/board/menu.svg" />
    </div>
  </div>
  <div class="board-panel">
    <div class="task-menu">
      <div class="project-team">
        <div class="search-input-container">
          <tasque-input
            class="search-input"
            #searchInput
            (input)="filterTasks()"
            type="search"
            [icon]="searchIcon"
            iconPosition="search"
            placeholder="Search..."
          ></tasque-input>
        </div>
        <div class="team-container">
          <tasque-team-select
            [avatars]="projectUsers"
            [selectedUserId]="selectedUserId ? selectedUserId : 0"
            (selectedUser)="userSelected($event)"
          ></tasque-team-select>
        </div>
      </div>
    </div>
    <div class="no-tasks row pale" *ngIf="!hasTasks && currentSprint">
      <label>There are no tasks in this sprint yet.</label>
      <span class="no-tasks-actions"
        >You can create the <a (click)="moveToBackLog()">first one</a> or check
        <a (click)="moveToSettings()">project settings</a>
      </span>
    </div>
    <div class="no-tasks row pale" *ngIf="!currentSprint">
      <label>There is no active sprint yet.</label>
      <span class="no-tasks-actions"
        >You can create and start the
        <a (click)="moveToBackLog()">first one</a> or check
        <a (click)="moveToSettings()">project settings</a>
      </span>
    </div>
    <div class="board-columns" cdkDropListGroup *ngIf="hasTasks">
      <div
        *ngFor="let item of columns"
        class="column-with-tasks"
        cdkDropList
        (cdkDropListDropped)="dragDrop($event)"
        [cdkDropListData]="item.tasks"
      >
        <div class="column-title">
          <div class="board-list">
            <span class="column-name">{{ item.name }}</span>
            <span class="column-element-count"> ({{ item.tasks.length }})</span>
          </div>
          <hr class="column-border">
          <div class="card-container">
            <div *ngIf="item.name.toLowerCase() !== 'done'">
              <div 
                class="column" 
                *ngFor="let task of item.tasks"
                cdkDrag 
                [cdkDragDisabled]="!isDraggable">
                <tasque-card
                  *ngIf="!task.isHidden"
                  [taskInfo]="task"
                  [currentSprint]="currentSprint"
                  (isChanging)="toogleIsDraggable($event)"
                >
                </tasque-card>
              </div>
            </div>
            <div *ngIf="item.name.toLowerCase() === 'done'">
              <div 
                class="column" 
                *ngFor="let task of item.tasks" 
                cdkDrag
                [cdkDragDisabled]="!isDraggable">
                <tasque-card
                  *ngIf="!task.isHidden"
                  [taskInfo]="task"
                  [currentSprint]="currentSprint"
                  [isDone]="true"
                  (isChanging)="toogleIsDraggable($event)"
                >
                </tasque-card>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="create-column" (mouseleave)="onClickedOutside()">
        <span *ngIf="!isOpenColumnAddDialog" (click)="openAddColumn()"
          >+ Add Section</span
        >
        <div *ngIf="isOpenColumnAddDialog">
          <form [formGroup]="createColumnForm" (ngSubmit)="addColumn()">
            <tasque-input
              type="text"
              placeholder="Type name"
              formControlName="columnName"
              [invalid]="!createColumnForm.valid && createColumnForm.touched"
              errorMessage="Column name is incorrect"
              [icon]="plusIcon"
              iconPosition="right"
              (iconClick)="addColumn()"
            ></tasque-input>
            <tasque-checkbox
              (stateChanged)="statusChanged($event)"
              class="is-task-complete"
              text="done?"
            ></tasque-checkbox>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
