.btn
    text-align: center
    color: #4F00B5
    font-family: 'Nunito'
    font-style: 'normal'
    font-size: 16px
    line-height: 22px
    font-weight: 700
    border: none
    background: none
    padding: 0px
    &:hover
        color: #291965
    &.disabled
        color: #CBCDD3
        background: none
        cursor: not-allowed

.mini
    color: #4F00B5
    padding: 7px 15px
    gap: 10px
    border: 2px solid #4F00B5
    border-radius: 50px
    &:hover
        background: #4F00B5
        color: white
    &.disabled
        color: #CBCDD3
        border-color: #CBCDD3
        background: none
        cursor: not-allowed

.stroke
    color: #EE2A64
    padding: 13px 20px
    gap: 10px
    border: 2px solid #EE2A64
    border-radius: 50px
    &:hover
        background: #EE2A64
        color: white
    &.disabled
        color: #CBCDD3
        border-color: #CBCDD3
        background: none
        cursor: not-allowed
        
.fill
    padding: 13px 20px
    gap: 10px
    color: white
    background: #EE2A64
    border-radius: 50px
    &:hover
        background: #E30547
        color: white
    &.disabled
        color: white
        background: none
        background-color: #CBCDD3
        cursor: not-allowed
