.btn
    text-align: center
    color: colorscheme(violet-200)
    font-family: 'Nunito'
    font-style: 'normal'
    font-size: 16px
    line-height: 22px
    font-weight: 700
    border: none
    background: none
    padding: 0px
    &:hover
        color: colorscheme(violet-400)
    &.disabled
        color: colorscheme(gray-400)
        background: none
        cursor: not-allowed

.mini
    color: colorscheme(violet-200)
    padding: 7px 15px
    gap: 10px
    border: 2px solid colorscheme(violet-200)
    border-radius: 50px
    &:hover
        background: colorscheme(violet-200)
        color: colorscheme(white-100)
    &.disabled
        color: colorscheme(gray-400)
        border-color:colorscheme(gray-400)
        background: none
        cursor: not-allowed

.stroke
    color: #EE2A64
    padding: 13px 20px
    gap: 10px
    border: 2px solid #EE2A64
    border-radius: 50px
    &:hover
        background: #EE2A64
        color: colorscheme(white-100)
    &.disabled
        color: colorscheme(gray-400)
        border-color: colorscheme(gray-400)
        background: none
        cursor: not-allowed
        
.fill
    padding: 13px 20px
    gap: 10px
    color: colorscheme(white-100)
    background: #EE2A64
    border-radius: 50px
    &:hover
        background: #E30547
        color: colorscheme(white-100)
    &.disabled
        color: colorscheme(white-100)
        background: none
        background-color: colorscheme(gray-400)
        cursor: not-allowed
