<div class="comments-container">
    <h5>Comments</h5>
</div>
<div class="task-comment-container">
    <div *ngFor="let comment of comments">
        <div class="comment-header">
            <tasque-avatar [user]="comment.author" [diameter_px]="26" alt="avatar"></tasque-avatar>
            <p class="comment-user-name">{{ comment.author.name }}</p>
            <p class="comment-date">{{ comment.createdAt | date: 'medium' }}</p>
        </div>
        <div class="comment-text">
            <p>{{ comment.message }}</p>
        </div>
    </div>    
</div>
<div class="user-comment-container">
    <tasque-avatar [user]="currentUser" [diameter_px]="45" alt="avatar"></tasque-avatar>

    <div class="input-wrapper">
      <tasque-input placeholder="Type a comment"></tasque-input>
    </div>

    <div class="user-comment-buttons">
      <tasque-button class="btn icon" [icon]="sendIcon"></tasque-button>
    </div>
</div>
