<div class="comments-container">
    <h5>Comments</h5>
</div>
<div class="task-comment-container">
    <div class="comment-header">
        <tasque-avatar [user]="currentUser" [diameter_px]="26" alt="avatar"></tasque-avatar>
        <p class="comment-user-name">Jaxson Botosh</p>
        <p class="comment-date">2 hours ago</p>
    </div>
    <div class="comment-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Semper arcu natoque ultricies lobortis sit sit vulputate. Commodo dictumst neque in ultricies eros sed iaculis eget. Netus fames vulputate vitae nunc, orci ut. Vitae, neque, pharetra imperdiet nunc, </p>
    </div>
</div>
<div class="user-comment-container">
    <tasque-avatar [user]="currentUser" [diameter_px]="45" alt="avatar"></tasque-avatar>

    <div class="input-wrapper">
      <tasque-input placeholder="Type a comment"></tasque-input>
    </div>

    <div class="user-comment-buttons">
      <tasque-button class="btn icon" [icon]="sendIcon"></tasque-button>
    </div>
</div>
