<section class="backlog-wrapper">
  <div class="backlog-menu row">
    <div class="toggle">
      <button (click)="toggleDropdown()" class="btn-backlog-custom">
        <fa-icon
          [icon]="iconDown"
          class="rotatable"
          id="dropdown-arrow-icon"
        ></fa-icon
        >&nbsp;
        <span class="bold">Backlog</span>
        <span class="pale pl-5">({{ tasks.length }} issues)</span>
      </button>
    </div>
    <div class="sprints">
      <tasque-button
        class="mini"
        text="Create Sprint"
        [class]="btnClass"
        class="mini"
      ></tasque-button>
    </div>
  </div>
  <div class="backlog-content">
    <div class="empty-tasks row pale" *ngIf="tasks.length == 0">
      <label class="text-center">Your backlog is empty.</label>
    </div>
    <div
      class="backlog-issues"
      id="backlog-issues"
      *ngIf="tasks.length != 0"
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="tasks"
      id="list-one"
      (cdkDropListDropped)="drop($event)"
    >
      <app-issue
        cdkDrag
        *ngFor="let task of tasks"
        [issue]="task"
        [taskStates]="taskStates"
        [taskTypes]="taskTypes"
      ></app-issue>
    </div>
    <div class="add-issue-wrapper row">
      <tasque-task-creation
        btnText="+ Create issues"
        btnClass="btn mini voilet"
      ></tasque-task-creation>
    </div>
  </div>
</section>
