@import 'src/colors.sass'

.mat-card
  height: 50px
  display: flex
  justify-content: space-between
  margin-left: 56px
  margin-right: 56px
  margin-bottom: 20px
  align-items: center
  border-radius: 20px

.mat-card-title
  margin-left: 20px
  margin-bottom: 0

.mat-card-actions
  padding-top: 0
  margin-bottom: 0

.mat-card>.mat-card-actions:last-child
  margin-bottom: 0

.mat-button
  color: colorscheme(black-100)
  font-family: "Nunito", sans-serif
  font-style: normal

a
  text-decoration: none
  color: colorscheme(black-100)
  font-family: "Nunito", sans-serif
  font-style: normal

tasque-button
  margin-right: 10px


