@import 'src/colors.sass'

.left-sidebar
    width: 252px
    height: 100%
    z-index: 1
    overflow-y: scroll
    left: 0
    top: 0
    background: colorscheme(white-100)
    box-shadow: 3px 4px 9px rgba(223, 223, 223, 0.25)
    padding-bottom: 70px

.content
    margin: 20px 15px

.back span
    cursor: pointer
    margin-left: 10px

.wiki-title
    margin-top: 25px
    display: flex
    align-items: center
    justify-content: space-between

fa-icon
    cursor: pointer

.create-page
    position: relative

.project-color
    width: 20px
    height: 20px
    border-radius: 5px
    margin-right: 7px

.project-info
    display: flex
    & > span
        font-size: 18px
        font-weight: 800

.hint
    position: absolute
    color: colorscheme(white-200)
    background-color: rgba(0, 0, 0, 0.5)
    right: 0
    top: 22px
    width: 100px
    padding: 1px 5px
    border-radius: 5px
    font-size: 14px

.create-page span.hint
    visibility: hidden

.create-page:hover span.hint
    visibility: visible

.pages
    margin-top: 40px
    

::-webkit-scrollbar
  width: 5px
  height: 5px

::-webkit-scrollbar-track
  border-radius: 10px

::-webkit-scrollbar-thumb
  background-color: #8b9499
  border-radius: 10px
