<div class="dropdown_wrpr" [ngStyle]="{'width': width }">
    <label class="dropdown_label" *ngIf="label">{{label}}</label>
    <button class="dropdown_btn" (click)="toggleDropdown()">
        <div class="selected_wrpr">
            <span class="selected_option" *ngIf="selectedOption">
                <svg class="color_square">
                    <rect [ngStyle]="{'fill': selectedOption[0]}" />
                </svg>
                {{selectedOption[1]}}
            </span>
            <span class="selected_option" *ngIf="!selectedOption">
                {{placeholder}}
            </span> 
            <mat-icon class="dropdown_ico">expand_more</mat-icon>
        </div> 
    </button>
    <div class="options_container" *ngIf="expanded">
        <div class="option" *ngFor="let option of options"
        (click)="select(option)">
            <svg class="color_square">
                <rect [ngStyle]="{'fill': option[0]}" />
            </svg>
            {{option[1]}}
        </div>
    </div>
</div>
  
