@import 'src/colors.sass'

*
    font-family: 'Nunito', sans-serif
    font-style: normal

app-button 
    margin: 20px

.mat-dialog-title
    margin: 0

h2
    text-align: center

.button-container
    display: flex
    gap: 15px

tasque-button
    ::ng-deep button
        width: 80px
        height: 40px

.confirmation-dialog-container
    display: flex
    flex-direction: column
    gap: 15px
