<div class="confirmation-dialog-container">
  <h2 mat-dialog-title>{{ title }}</h2>

  <p>{{ message }}</p>

  <div [ngSwitch]="type">
    <div class="button-container" *ngSwitchCase="'default'">
      <tasque-button text="Cancel" class="btn fill grey" (btnClick)="onDismiss()"></tasque-button>
      <tasque-button text="Ok" class="btn fill green" (btnClick)="onConfirm()"></tasque-button>
    </div>
    <div class="button-container" *ngSwitchCase="'deletion'">
      <tasque-button text="Cancel" class="btn fill grey" (btnClick)="onDismiss()"></tasque-button>
      <tasque-button text="Delete" class="btn fill red" (btnClick)="onConfirm()"></tasque-button>
    </div>
  </div>
</div>
