.organization-list
  display: flex
  flex-direction: column
  gap: 15px
  overflow-y: auto
  margin: 0 56px 0 56px

.organizations-header
  display: flex
  align-items: center
  gap: 30px

.organization-list-cards
  display: flex
  flex-direction: column

.organizations-search ::ng-deep input
  width: 420px
