@import 'src/colors.sass'

.organization-list
  display: flex
  flex-direction: column
  gap: 15px
  overflow-y: auto
  margin: 0 56px 0 56px

.organization-top
  margin: 3px 3px 0 0
  display: flex
  justify-content: space-between

.organizations-header
  display: flex
  align-items: center
  gap: 30px

.organization-list-cards
  display: flex
  flex-direction: column

.organizations-search ::ng-deep input
  width: 420px

.empty-organizations-warning
  text-align: center
  padding: 20px
  margin-bottom: 15px
  border: dashed
  border-color: colorscheme('gray-400')
  color: colorscheme('dark-grey-100')
  p
    font-size: 16px
