.organization-list
  font-family: 'Nunito', sans-serif
  font-style: normal
  justify-content: space-between
  overflow-y: auto

.project-list
  margin: 0 56px 0 56px 

.header
  margin-left: 20px
  display: flex
  justify-content: space-between
  align-items: center
