<div class="project-list">
  <div class="header">
    <h4>My Organizations</h4>
    <tasque-button class="fill red" text="Create Organization"></tasque-button>
  </div>
  <div class="search">
    <tasque-input type="search" placeholder="Search..." [borderRadius]="50" [(ngModel)]="inputSearch" (ngModelChange)="filterItems()"> </tasque-input>
  </div>
  <div class="organizations-list">
    <div class="organization-card" *ngFor="let item of items">
      <app-organization-list-item [organization]="item"></app-organization-list-item>
    </div>
  </div>
</div>
