<tasque-sidebar name="edit-organization" btnText="Edit organization" btnClass="btn stroke">
  <div class="task-creation-conteiner">
    <div class="task-creation-header">
      <tasque-input placeholder="Write organization name"> </tasque-input>
      <div class="task-creation-header-button"></div>
    </div>
    <div class="task-creation-body">
      <div class="task-creation-body-wrapper">
        <form>
          <tasque-select-users [board]="board"></tasque-select-users>
        </form>
      </div>
    </div>
    <div class="task-creation-footer">
      <div class="task-creation-footer-button">
        <tasque-button type="submit" class="btn stroke violet-stroke" text="Cancel"> </tasque-button>
        <tasque-button type="submit" class="btn stroke violet-stroke" text="Edit"> </tasque-button>
      </div>
    </div>
  </div>
</tasque-sidebar>
