<tasque-sidebar name="edit-organization" btnText="Edit" btnClass="btn stroke">
  <div class="task-creation-conteiner">
    <form [formGroup]="editOrganization">
      <div class="task-creation-header">
        <tasque-input placeholder="Write organization name" [value]="organization.name" [formControl]="organizationNameControl" [errorMessage]="organizationNameErrorMessage" [invalid]="!organizationNameControl.valid"> </tasque-input>
        <div class="task-creation-header-button"></div>
      </div>
      <div class="task-creation-body">
        <div class="task-creation-body-wrapper">
          <tasque-select-users [board]="board"></tasque-select-users>
        </div>
      </div>
      <div class="task-creation-footer">
        <div class="task-creation-footer-button">
          <tasque-button type="submit" class="btn stroke violet-stroke" text="Cancel"> </tasque-button>
          <tasque-button type="submit" class="btn stroke violet-stroke" text="Edit" (click)="save()"> </tasque-button>
        </div>
      </div>
    </form>
  </div>
</tasque-sidebar>
