@import 'src/colors.sass'

.avatar-wrapper
  display: flex
  height: 100%

.avatar
  width: 100%
  aspect-ratio: 1 / 1
  border-radius: 50%
  object-fit: cover

.background
  width: 100%
  display: flex
  justify-content: center
  border-radius: 100%
  aspect-ratio: 1 / 1
  background-color: colorscheme(gray-400)

.initials
  align-self: center
  font-weight: 600
  color: colorscheme(white-100)
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
