<template #alertContainer></template>
<div class="issue">
  <p
    class="issue-type"
    [ngStyle]="{ 'background': issue.type?.color ?? 'colorscheme(yellow-100)' }"
  >
    {{ this.issue.type?.name }}
  </p>
  <p class="issue-key">
    {{ issue.key }}
  </p>
  <p
    class="issue-title"
    [matTooltipShowDelay]="1500"
    matTooltip=" {{ issue.description }}"
  >
    {{ issue.summary }}
  </p>
  <tasque-task-editing [task]="issue"> </tasque-task-editing>
  <div class="issue-estimate">
    <tasque-input
      class="input estimate-input"
      type="number"
      [(ngModel)]="issue.estimate"
      (inputValue)="(issue.estimate)"
      (change)="estimateChange()"
    >
    </tasque-input>
  </div>
  <tasque-dropdown
    [options]="taskStateToDropdownArray(taskStates)"
    (onSelect)="updateTaskState($event)"
    [placeholder]="issue.state && issue.state.name ? issue.state.name : ''"
    width="150px"
  ></tasque-dropdown>

  <div class="issue-users">
    <tasque-team-select
      *ngIf="issue.users && issue.users.length > 0"
      class="users"
      [miniView]="true"
      [avatars]="issue.users"
    ></tasque-team-select>
  </div>
</div>
