.content
    margin: 10px 30px 10px 10px
    font-family: 'Nunito'
    font-style: normal
    font-weight: 400
    font-size: 14px
    color: colorscheme(black-100)

.container
    margin-top: 30px
    padding: 10px
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px
    & label
        font-size: 18px
        display: flex
        flex-direction: row-reverse
    & .submit
        display: flex
        flex-direction: row-reverse

.projectName-wrapper
    display: flex
    align-items: center
    padding: 5px
    border-radius: 10px
    .icon
        vertical-align: middle
        border-radius: 50%
    &:hover
        background: colorscheme(gray-300)
        border: 2px solid colorscheme(violet-200)
        .icon
            display: none
    &:focus
        outline: 0px solid transparent
    tasque-button
        ::ng-deep
            button
                color: colorscheme(gray-500)
                .ng-fa-icon
                    vertical-align: sub

.projectName
    background: none
    font-weight: 700
    font-size: 27px
    line-height: 114.88%
    outline: 0px solid transparent
    opacity: .88

.task-creation-footer-button
    margin-top: 30px
    padding: 0 51px
    margin-left: auto
    display: flex
    flex-direction: row
    justify-content: flex-end
    >.btn
        margin-left: 15px
