<tasque-menu-dropdown>
  <tasque-option header class="not-button" [class.solo]="latestProjects.length === 0">
    Recent Projects
  </tasque-option>
  <span dropdown-button> {{ currentProject.name }}</span>
  <div option *ngFor="let proj of latestProjects; trackBy: trackByProject">
    <tasque-option (click)="selectProject(proj)"> {{ proj.name }}</tasque-option>
  </div>
  <tasque-option footer [class.solo]="latestProjects.length === 0" (click)="openProjectsPage()">
    Manage my projects
  </tasque-option>
</tasque-menu-dropdown>
