<div
  class="sprint-conteiner"
  id="{{ currentSprint.id }}"
  cdkDropList
  #doneList="cdkDropList"
  [cdkDropListData]="currentSprint.tasks"
  (cdkDropListDropped)="drop($event)"
>
  <details [open]="currentSprint.startAt && !currentSprint.isComplete ? true : false">
    <summary>
      <div class="wrapper">
        <div class="marker">
          <p class="open">
            <fa-icon [icon]="faChevronRight" class="rotatable" id="dropdown-arrow-icon"></fa-icon>
          </p>
          <p class="close">
            <fa-icon [icon]="faAngleDown" class="rotatable" id="dropdown-arrow-icon"></fa-icon>
          </p>
        </div>
        <h5 class="sprint-name">{{ currentSprint.name }}</h5>
        <div class="sprint-date">
          <p class="startAt">
            {{ currentSprint.startAt | date: 'mediumDate' }}
          </p>
          <p *ngIf="currentSprint.startAt">-</p>
          <p *ngIf="!currentSprint.startAt && currentSprint.endAt">deadline:</p>
          <p class="endAt">{{ currentSprint.endAt | date: 'mediumDate' }}</p>
        </div>
        <div class="issues">
          <p>issues</p>
          <p class="issues-count">
            {{ tasks && tasks.length ? tasks.length : 0 }}
          </p>
        </div>
        <div class="estimate">
          <p>estimate</p>
          <p class="estimate-count">{{ estimate ? estimate : 0 }}</p>
        </div>
        <div class="wrapper button">
          <app-edit-sprint
            *ngIf="
              !currentSprint.startAt && !currentSprint.isComplete && currentSprint.tasks && isCurrentUserAdmin
            "
            [btnClass]="
              sprintIndex != 0 || currentSprint.tasks.length == 0
                ? 'btn mini voilet full disabled'
                : 'btn mini voilet full'
            "
            [currentSprint]="currentSprint"
            class="btn mini voilet full start-sprint"
            [isStarting]="true"
          ></app-edit-sprint>
          <app-complete-sprint
            *ngIf="currentSprint.startAt && !currentSprint.isComplete && isCurrentUserAdmin"
            [sprint]="currentSprint"
            class="btn complete-sprint"
            completeBthClass="btn mini violet-fill full"
            completeBtnText="Complete sprint"
          ></app-complete-sprint>
          <div class="dropdown-button" *ngIf="isCurrentUserAdmin && !currentSprint.isComplete">
            <div class="dropdown" style="float: right">
              <tasque-button
                class="btn dropbtn"
                (btnClick)="switchDropdown()"
                [icon]="faEllipsisV"
              ></tasque-button>
              <div
                class="dropdown-content"
                [ngClass]="dropdownState"
                (clickOutside)="dropdownState = 'closed'"
                exclude=".dropbtn"
              >
                <a *ngIf="sprintIndex != 0 && (sprintIndex != 1 || !sprints[0].startAt)">
                  <tasque-button
                    (click)="$sprintUp(currentSprint)"
                    text="Move sprint up"
                    class="btn black"
                  ></tasque-button>
                </a>
                <a *ngIf="sprintIndex != 0 || !currentSprint.startAt">
                  <tasque-button
                    (click)="$sprintDown(currentSprint)"
                    text="Move sprint down"
                    class="btn black"
                  ></tasque-button>
                </a>
                <a>
                  <app-edit-sprint [currentSprint]="currentSprint" btnClass="btn black"></app-edit-sprint>
                </a>
                <a>
                  <tasque-button
                    text="Delete sprint"
                    class="btn black"
                    (click)="deleteSprint(currentSprint)"
                  ></tasque-button>
                </a>
              </div>
            </div>
          </div>
          <div class="completed" *ngIf="currentSprint.isComplete">Completed</div>
        </div>
      </div>
    </summary>
    <div class="sprint-header">
      <div class="select-user">
        <tasque-team-select
          [avatars]="sprintUsers"
          (selectedUser)="filterUserTasks($event)"
          *ngIf="sprintUsersCircle && sprintUsers.length > 0"
        ></tasque-team-select>
      </div>
    </div>
    <div class="sprint-body">
      <div class="empty-tasks row pale" *ngIf="tasks && tasks.length === 0">
        <label class="text-center">Plan a sprint by dragging issue here</label>
      </div>
      <div>
        <app-issue
          cdkDrag
          [cdkDragDisabled]="!isDraggable"
          (isChanging)="toogleIsDragable($event)"
          *ngFor="let task of tasks"
          [issue]="task"
          [taskStates]="taskState"
          [taskTypes]="taskType"
          [currentUser]="currentUser"
          [currentSprint]="currentSprint"
          (estimate)="estimateCount()"
          [currentProject]="currentProject"
        ></app-issue>
      </div>
    </div>
    <div class="sprint-footer">
      <div class="create-issue">
        <tasque-task-creation
          *ngIf="!currentSprint.isComplete"
          btnText="+ Create issues"
          btnClass="btn mini voilet"
          [sidebarName]="createIssueSidebarName"
          [organizationId]="currentProject.organizationId"
          [currentProject]="currentProject"
          [sprintId]="currentSprint.id"
          [currentTasks]="tasks"
        ></tasque-task-creation>
      </div>
    </div>
  </details>
</div>
