<form [formGroup]="registerForm" class="form-container" onSubmit="submitForm()">
  <div class="text-container">
    <h4 class="login-title">Sign Up</h4>
    <span class="label-14">Already have an account? <a routerLink="../login">Log In</a></span>
  </div>
  <tasque-input label="Name" placeholder="Enter your name" [formControl]="nameControl" [invalid]="!nameControl.valid" [errorMessage]="nameErrorMessage"></tasque-input>
  <tasque-input label="Email" placeholder="Enter your email" [formControl]="emailControl" [errorMessage]="emailErrorMessage" [invalid]="!emailControl.valid" #emailInput></tasque-input>
  <tasque-input label="Password" placeholder="Enter your password" type="password" (ngModelChange)="resetPasswordControl()" [formControl]="passwordControl" [errorMessage]="passwordErrorMessage" [invalid]="!passwordControl.valid" [icon]="faShow" iconPosition="right" #passwordInput (iconClick)="flipPassword(passwordInput)"></tasque-input>
  <tasque-input label="Repeat password" placeholder="Repeat your password" type="password" (ngModelChange)="resetPasswordControl()" [formControl]="passwordRepeatControl" [errorMessage]="passwordRepeatErrorMessage" [invalid]="!passwordRepeatControl.valid" [icon]="faShow" iconPosition="right" #passwordRepeatInput (iconClick)="flipPassword(passwordRepeatInput)"></tasque-input>
  <div class="button-container">
    <tasque-button text="Sign up" class="btn fill full-width" (btnClick)="submitForm()"></tasque-button>
  </div>
  <div class="button-container">
    <tasque-button text="Sign up with Google" class="btn stroke full-width violet-stroke" [icon]="faGoogle"></tasque-button>
  </div>
  <div class="button-container">
    <tasque-button text="Sign up with Github" class="btn stroke full-width violet-stroke" [icon]="faGithub"></tasque-button>
  </div>
</form>
