<div class="input-container">
  <label *ngIf="inputLabel">{{ inputLabel }}</label>
  <input
    [class]="inputClass + ' input'"
    [(ngModel)]="inputValue"
    (ngModelChange)="onChange($event)"
    (blur)="onTouched($event)"
    [ngClass]="{
      'error': inputValueIsError,
      'search-border': inputType === 'search'
    }"
    [type]="inputType"
    [placeholder]="inputPlaceholder"
    style="width: 100%"
    [style.border-radius.px]="inputBorderRadius"
  />
  <img src="..\..\assets\search_icon.svg" *ngIf="inputType === 'search'" class="search-icon" />
  <span class="error" *ngIf="inputValueIsError">{{ inputErrorMessage }}</span>
</div>
