@import 'src/colors.sass'

.input-container
    font-family: 'Nunito'
    font-style: normal
    font-weight: 400
    color: colorscheme(black-100)

.input
    border-radius: 10px
    height: 45px
    left: 0px
    right: 0px
    background: colorscheme(gray-200)
    border: none
    font-size: 14px
    line-height: 19px
    display: flex
    align-items: center
    padding-left: 15px
    &:focus
        outline: none
        border: 2px solid colorscheme(violet-200)
        caret-color: colorscheme(violet-200)

.search-border
    border-radius: 50px
    padding-left: 30px

.search-icon
    position: relative
    left: 10px
    bottom: 30px

.input-container label
    position: relative
    height: 17px
    left: 0px
    top: 0px
    font-size: 12px
    line-height: 16px
    display: flex
    align-items: center

.error
    color: colorscheme(pink-300)

::placeholder
    color: colorscheme(gray-400)

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
    display: none
