<div class="card">
  <div class="card-header">
    <div class="task-status">
      <span [style.background-color]="taskInfo.type.color">{{taskInfo.type.name}}</span>
      <span [style.background-color]="taskInfo.priority.color">{{taskInfo.priority.name}}</span>
    </div>
    <img src="assets/board/column_menu.svg">
  </div>
  <div *ngIf="taskInfo.attachmentUrl">
    <img class="attach" [src]="taskInfo.attachmentUrl"/>
  </div>
  <div>
    <div class="task-content">
      <span>
        {{taskInfo.summary}}
      </span>
    </div>
    <div class="task-status-container">
      <div class="task-status" *ngFor="let item of taskInfo.customLabels">
        <span [style.background-color]="item.color">{{item.name}}</span>
      </div>
    </div>
    <div class="task-info">
      <span>{{taskInfo.key}}</span>
      <tasque-avatar *ngIf="user !== undefined" [user]="user" alt="user's avatar" [diameter_px]="30"></tasque-avatar>
      <div class="user-overflow"><span>+{{assignees.length - 1}}</span></div>
    </div>
  </div>
</div>
