<div class="card">
  <div *ngIf="taskInfo.attachmentUrl">
    <img class="attach" src="{{taskInfo.attachmentUrl}}" />
  </div>
  <div>
    <div class="task-content">
      <span>
        {{taskInfo.summary}}
      </span>
      <img src="assets/board/column_menu.svg">
    </div>
    <div class="task-status">
      <span>Issue</span>
      <span>High</span>
      <span>5 days</span>
    </div>
    <div class="task-info">
      <span>{{taskInfo.key}}</span>
      <tasque-avatar *ngIf="user !== undefined" [user]="user" alt="user's avatar" [diameter_px]="30"></tasque-avatar>
    </div>
  </div>
</div>
