<div class="card" *ngIf="!isDeleted">
  <div class="card-header">
    <div class="task-status">
      <img *ngIf="isDone" class="is-done" src="assets/success_icon.svg" />
      <span [style.background-color]="taskInfo.type?.color">{{ taskInfo.type?.name }}</span>
      <span [style.background-color]="taskInfo.priority?.color">{{ taskInfo.priority?.name }}</span>
    </div>
    <div>
      <tasque-task-editing
        btnText=""
        btnClass="btn icon gray-transparent"
        [btnIcon]="editIcon"
        [task]="taskInfo"
      ></tasque-task-editing>
    </div>
    <tasque-menu-dropdown class="card-settings" [left]="-80">
      <img src="assets/board/column_menu.svg" dropdown-button />
      <tasque-option option (click)="notImplementetNotification()">Copy issue link</tasque-option>
      <tasque-option option (click)="notImplementetNotification()">Move up</tasque-option>
      <tasque-option option (click)="notImplementetNotification()">Move down</tasque-option>
      <tasque-option option (click)="deleteTask()">Delete issue</tasque-option>
    </tasque-menu-dropdown>
  </div>
  <div *ngIf="taskInfo.attachments.length > 0"></div>
  <div>
    <div class="task-content">
      <span>
        {{ taskInfo.summary }}
      </span>
    </div>
    <div class="task-status-container">
      <div class="task-status" *ngFor="let item of taskInfo.customLabels">
        <span [style.background-color]="item?.color">{{ item.name }}</span>
      </div>
    </div>
    <div class="task-info">
      <span>{{ taskInfo.key }}</span>
      <tasque-avatar
        *ngIf="taskInfo.author"
        [user]="taskInfo.author"
        alt="user's avatar"
        [diameter_px]="30"
      ></tasque-avatar>
      <span *ngIf="taskInfo.assignees !== undefined && taskInfo.assignees.length > 1" class="user-overflow"
        >+{{ taskInfo.assignees.length - 1 }}</span
      >
    </div>
  </div>
</div>
