@import 'src/colors.sass'

.btn
    text-align: center
    color: colorscheme(violet-200)
    font-family: 'Nunito', sans-serif
    font-style: normal
    font-size: 16px
    line-height: 22px
    font-weight: 700
    border: none
    background: none
    padding: 0
    &:hover
        color: colorscheme(violet-400)
    &.disabled
        color: colorscheme(gray-400)
        background: none
        cursor: not-allowed

.mini
    color: colorscheme(violet-200)
    padding: 7px 15px
    gap: 10px
    border: 2px solid colorscheme(violet-200)
    border-radius: 50px
    &:hover
        background: colorscheme(violet-200)
        color: colorscheme(white-100)
    &.disabled
        color: colorscheme(gray-400)
        border-color: colorscheme(gray-400)
        background: none
        cursor: not-allowed

.stroke
    color: colorscheme(pink-200)
    padding: 13px 20px
    gap: 10px
    border: 2px solid colorscheme(pink-200)
    border-radius: 50px
    &:hover
        background: colorscheme(pink-200)
        color: colorscheme(white-100)
    &.disabled
        color: colorscheme(gray-400)
        border-color: colorscheme(gray-400)
        background: none
        cursor: not-allowed

.fill
    padding: 13px 20px
    gap: 10px
    color: colorscheme(white-100)
    background: colorscheme(pink-200)
    border: 1px solid colorscheme(pink-200)
    border-radius: 50px
    &:hover
        background: colorscheme(pink-300)
        color: colorscheme(white-100)
    &.disabled
        color: colorscheme(white-100)
        background: none
        background-color: colorscheme(gray-400)
        cursor: not-allowed
        border: none

.gray
  background: colorscheme(gray-200)
  color: colorscheme(black-100)
  border: none
  &:hover
    background: colorscheme(gray-400)


.red
    background: colorscheme(red-100)
    &:hover
         background: colorscheme(red-200)

.green
    background: colorscheme(green-100)
    &:hover
         background: colorscheme(green-200)

.grey
    background: colorscheme(dark-grey-100)
    &:hover
         background: colorscheme(dark-grey-200)
