<form [formGroup]="sprintForm" class="edit-sprint-dialog" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="dialog-content">
      <h3>
        Start Sprint
        <span *ngIf="data.isStarting" class="dialog-info">Issues will be added in this sprint.</span>
      </h3>
      <div class="tasque-input">
        <tasque-input
          [class]="this.inputClass"
          placeholder="Sprint name"
          formControlName="sprintName"
          label="Name"
          [(ngModel)]="data.name"
          name="fieldName" ngDefaultControl
          [invalid]="sprintName.invalid"
          [errorMessage]="requiredErrorMessage">
        </tasque-input>
      </div>
      <div class="tasque-input">
        <tasque-dropdown
          [class]="this.inputClass"
          [options]="periods"
          formControlName="sprintDuration"
          label="Duration"
          name="fieldDuration" ngDefaultControl
          [invalid]="sprintDuration.invalid"
          [errorMessage]="requiredErrorMessage">
        </tasque-dropdown>
      </div>
      <div class="tasque-input">
        <tasque-input
          [class]="this.inputClass"
          formControlName="sprintStartAt"
          label="Start date"
          type="datetime-local"
          [(ngModel)]="data.startAt"
          name="fieldStart" ngDefaultControl
          [invalid]="sprintStartAt.invalid"
          [errorMessage]="requiredErrorMessage">
        </tasque-input>
      </div>
      <div class="tasque-input">
        <tasque-input
          [class]="this.inputClass"
          formControlName="sprintEndAt"
          label="End date"
          type="datetime-local"
          [(ngModel)]="data.endAt"
          [invalid]="sprintEndAt.invalid"
          [errorMessage]="requiredErrorMessage">
        </tasque-input>
      </div>
      <div class="tasque-input">
        <label>Description</label>
        <textarea
          class="input-text-area"
          formControlName="sprintDescription"
          label="Description"
          [(ngModel)]="data.description"
          name="fieldDescription" ngDefaultControl>
        </textarea>
      </div>
    </mat-dialog-content>    
    <mat-dialog-actions class="dialog-options" align="end">
      <tasque-button
        [mat-dialog-close]="false"
        [text]="this.cancelBtnName"
        [class]="this.cancelBtnClass">
      </tasque-button>
      <tasque-button
        [mat-dialog-close]="true"
        type="submit"
        [text]="this.createBtnName"
        [class]="this.createBtnClass + (sprintForm.invalid ? ' disabled' : '')"
        (btnClick)="onSubmit()"
      >  
      </tasque-button>
    </mat-dialog-actions>
  </form>
