<div class="dropdown-wrapper">
  <ng-content select="[dropdown-button]"></ng-content>
  <div class="dropdown-button">
    <tasque-avatar
      *ngIf="hasAvatar"
      (click)="avatarClick()"
      [user]="user"
      [diameter_px]="diameter_px"
    ></tasque-avatar>
    <span class="dropdown-label" *ngIf="label" (click)="labelClick()">{{ label }}</span>
    <fa-icon class="dropdown-icon" (click)="arrowIconClick()" [icon]="currentArrowIcon"></fa-icon>
  </div>

  <div class="options-container" *ngIf="expanded" (click)="toggleDropdown()">
    <div class="options-header">
      <ng-content select="[header]"></ng-content>
    </div>
    <div class="options">
      <ng-content></ng-content>
    </div>
    <div class="options-footer">
      <ng-content select="[footer]"></ng-content>
    </div>
  </div>
</div>
