@import 'src/colors.sass'

.container
    width: 400px
    height: 220px
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-between

.complete-image
    position: absolute
    height: 115px
    right: 0px
    top: 5px

.content > p
    font-size: 20px
    font-weight: 700

.task-info
    display: flex
    flex-direction: column
    margin-top: 15px
    & ul
        margin-left: 35px
        padding: 5px
    & li
        padding: 5px

.dialog-options > *
    margin-left: 7px

.selection
    font-weight: 700

