<div class="container">
  <div class="users" *ngIf="avatars.length <= 4">
    <a class="user-avatar" *ngFor="let item of avatars.slice(0,7); let i = index" [attr.data-index]="i">
      <img *ngIf="item.avatarURL" class="user-avatar-img" [src]="item.avatarURL" [alt]="item.username">
      <div *ngIf="!item.avatarURL" class="user-no-avatar" style="background-color: {{profileColors[i]}}">
        {{item.username[0]}}
      </div>
    </a>
  </div>
  <div class="users" *ngIf="avatars.length > 4">
    <a class="user-avatar" *ngFor="let item of avatars.slice(0,7); let i = index" [attr.data-index]="i"
       style="left: {{i*-18}}px;">
      <img *ngIf="item.avatarURL" class="user-avatar-img" [src]="item.avatarURL" [alt]="item.username">
      <div *ngIf="!item.avatarURL" class="user-no-avatar" style="background-color: {{profileColors[i]}}">
        {{item.username[0]}}
      </div>
      <div class="user-overflow" *ngIf="i==6" (click)="showPopUp = !showPopUp">+{{avatars.length-7}}</div>
    </a>
  </div>
<!--  <div class="add-users">-->
<!--    <button type="button" (click)="addUser()">+</button>-->
<!--  </div>-->
</div>
<div [hidden]="!showPopUp" class="pop-up">
  <div class="user-list-container">
      <div class="container-title">
        <span>Members</span>
        <a class="pop-up-close" (click)="showPopUp = !showPopUp">
          <svg width="14" height="14" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.4">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M18 6.76809L16.59 5.47559L11 10.5998L5.41 5.47559L4 6.76809L9.59 11.8923L4 17.0164L5.41 18.3089L11 13.1848L16.59 18.3089L18 17.0164L12.41 11.8923L18 6.76809Z" fill="#83858A" stroke="#83858A"/>
            </g>
          </svg>
        </a>
      </div>
      <mat-divider class="divider"></mat-divider>
      <div class="search-container">
        <tasque-input
          type="search"
          placeholder="Search members"
          [(ngModel)]="inputSearch"
          (ngModelChange)="filterItems()"
        >
        </tasque-input>
      </div>
      <div class="members-container">
        <span>Members:</span>
        <div class="avatars-container">
          <a class="user-avatar" *ngFor="let item of avatarsShow; let i = index" [attr.data-index]="i">
            <img *ngIf="item.avatarURL" class="user-avatar-img" [src]="item.avatarURL" [alt]="item.username">
            <div *ngIf="!item.avatarURL" class="user-no-avatar" style="background-color: {{profileColors[i]}}">
              {{item.username[0]}}
            </div>
          </a>
        </div>
      </div>
  </div>
</div>
