<div class="container" [ngClass]="{ 'mini-view': miniView }">
  <div class="users" *ngIf="avatars.length <= 4 && !miniView">
    <a
      class="user-avatar"
      *ngFor="let item of avatars.slice(0, 7); let i = index"
      [attr.data-index]="i"
      (click)="selectUser(item)"
    >
    <tasque-avatar
      class="user-avatar-img"
      [user]="item"
      [alt]="item.name"
      [diameter_px]="50"
    ></tasque-avatar>
    </a>
  </div>
  <div class="users" *ngIf="avatars.length > 4 && !miniView">
    <a
      class="user-avatar"
      *ngFor="let item of avatars.slice(0, 7); let i = index"
      [attr.data-index]="i"
      style="left: {{ i * -18 }}px"
      (click)="selectUser(item)"
    >
      <tasque-avatar
        class="user-avatar-img"
        [user]="item"
        [alt]="item.name"
        [diameter_px]="50"
      ></tasque-avatar>
      <div
        class="user-overflow"
        *ngIf="i == 6"
        (click)="showPopUp = !showPopUp"
      >
        +{{ avatars.length - 7 }}
      </div>
    </a>
  </div>

  <div class="users" *ngIf="miniView">
    <a class="user-avatar">
      <tasque-avatar
        class="user-avatar-img"
        [user]="avatars[0]"
        [alt]="avatars[0].name"
        [diameter_px]="50"
      ></tasque-avatar>
      <div class="user-overflow" (click)="showPopUp = !showPopUp">
        +{{ avatars.length - 1 }}
      </div>
    </a>
  </div>
</div>
<div [hidden]="!showPopUp" class="pop-up" [ngClass]="{ 'mini-view': miniView }">
  <div class="user-list-container">
    <div class="container-title">
      <span>Members</span>
      <a class="pop-up-close" (click)="showPopUp = !showPopUp">
        <img src="assets/close_icon.svg" />
      </a>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="search-container">
      <tasque-input
        type="search"
        class="search-input"
        [icon]="searchIcon"
        iconPosition="search"
        placeholder="Search members"
        [(ngModel)]="inputSearch"
        (ngModelChange)="filterItems()"
      >
      </tasque-input>
    </div>
    <div class="members-container">
      <span>Members:</span>
      <div class="avatars-container">
        <a
          class="user-avatar"
          *ngFor="let item of avatarsShow; let i = index"
          [attr.data-index]="i"
          (click)="selectUser(item)"
        >
          <tasque-avatar
            class="user-avatar-img"
            [user]="item"
            [alt]="item.name"
            [diameter_px]="50"
          ></tasque-avatar>
        </a>
      </div>
    </div>
  </div>
</div>
