<div class="global-wrapper">
  <h3 class="select-users-title">Select Users</h3>
  <div class="select-users-wrapper">
    <div class="row b-b select-users-header container" [ngStyle]="{ 'height.px': defaultRowHeight_px }">
      <form [formGroup]="searchForm" (ngSubmit)="add()">
        <div class="w-85 pl-15 mr-15">
          <tasque-input
            type="email"
            placeholder="example@tasque.com"
            label="Email"
            [(ngModel)]="userEmail"
            formControlName="emailControl"
            [ngClass]="{
              'error': emailControl.invalid && (emailControl.dirty || emailControl.touched)
            }"
          ></tasque-input>
        </div>
        <div class="header-button-container wpx-150 pr-15 ml-15">
          <tasque-button class="mini btn" text="Add User" [icon]="addIcon" type="submit" (btnClick)="add()"></tasque-button>
        </div>
      </form>
    </div>
    <div class="select-users-body container" [ngStyle]="{ 'height.px': defaultRowHeight_px * rowspan }">
      <ng-template [ngIf]="isLoading">
        <tasque-loading></tasque-loading>
      </ng-template>
      <ng-template [ngIf]="!isLoading && usersCount > 0">
        <ul role="list">
          <div class="list-item-element" *ngFor="let user of users$ | async; index as i">
            <br *ngIf="i != 0" />
            <li role="listitem">
              <div class="user-data mr-15">
                <tasque-avatar [imageURL]="user.avatarURL" alt="user's avatar" [diameter_px]="40"></tasque-avatar>
                <a [href]="user.profileURL" class="username">
                  <tasque-button class="btn" [text]="user.username"></tasque-button>
                </a>
              </div>
              <div class="user-actions ml-15">
                <tasque-dropdown [options]="roles"></tasque-dropdown>
                <tasque-button class="stroke mr-15 ml-15" text="Remove"></tasque-button>
              </div>
            </li>
          </div>
        </ul>
      </ng-template>
      <ng-template [ngIf]="!isLoading && usersCount == 0">
        <h4 class="text-center">It's quiet out here... You should invite someone.</h4>
        <span></span>
      </ng-template>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
