<div layout-sm class="wrapper select-user">
  <h3 class="text-center">Select Users</h3>
  <mat-grid-list rowHeight="84px" cols="1">
    <mat-grid-tile [rowspan]="1" class="b-b">
      <form [formGroup]="searchForm" (ngSubmit)="add()">
        <div class="w-85 pl-15 mr-15">
          <tasque-input
            type="email"
            placeholder="example@tasque.com"
            label="Email"
            [(ngModel)]="userEmail"
            formControlName="emailControl"
            [ngClass]="{
              'error': emailControl.invalid && (emailControl.dirty || emailControl.touched)
            }"
          ></tasque-input>
        </div>
        <div class="wpx-120 pr-15 ml-15">
          <button class="mat-button-primary w-100" type="submit" mat-flat-button color="primary" (btnClick)="add()">Add User</button>
        </div>
      </form>
    </mat-grid-tile>
    <mat-grid-tile class="list" [rowspan]="rowspan">
      <ng-template [ngIf]="isLoading">
        <tasque-loading></tasque-loading>
      </ng-template>
      <ng-template [ngIf]="!isLoading && usersCount > 0">
        <mat-list role="list">
          <div class="list-item-element" *ngFor="let user of users$ | async; index as i">
            <mat-divider *ngIf="i != 0"></mat-divider>
            <mat-list-item role="listitem">
              <div class="user-data mr-15">
                <tasque-avatar [imageURL]="user.avatarURL" alt="user's avatar" [diameter_px]="40"></tasque-avatar>
                <a mat-flat-button [href]="user.profileURL" class="username">{{ user.username }}</a>
              </div>
              <div class="user-actions ml-15">
                <mat-form-field class="role-input" appearance="fill" *ngIf="board.hasRoles">
                  <mat-label>Role</mat-label>
                  <mat-select [(value)]="user.role" (valueChange)="update(user)">
                    <mat-option *ngFor="let role of roles" [value]="role.id">
                      {{ role.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-mini-fab color="primary" class="mat-button-action" (click)="delete(user.email)">
                  <mat-icon>clear</mat-icon>
                </button>
              </div>
            </mat-list-item>
          </div>
        </mat-list>
      </ng-template>
      <ng-template [ngIf]="!isLoading && usersCount == 0">
        <mat-divider></mat-divider>
        <h4 class="text-center">It's quiet out here... You should invite someone.</h4>
        <span></span>
      </ng-template>
    </mat-grid-tile>
  </mat-grid-list>
</div>
