@import '../../../colors'

@for $i from 13 through 21 
	.w-#{$i * 5} 
		width: #{$i * 5%} !important

@for $i from 3 through 8
	.wpx-#{$i * 30} 
		width: #{$i * 30}px !important
		min-width: #{$i * 30}px !important

@for $i from 1 through 5
	.pl-#{$i * 5}
		padding-left: #{$i * 5}px

	.pr-#{$i * 5}
		padding-right: #{$i * 5}px
	
	.ml-#{$i * 5}
		margin-left: #{$i * 5}px

	.mr-#{$i * 5}
		margin-right: #{$i * 5}px

.b-b
	border-bottom: solid
	border-width: 1px
	border-color: colorscheme(gray-400)

.global-wrapper

	h3
		margin: 15px 0px

	.text-center
		text-align: center

	.select-users-header
		height: 100px

	.select-users-wrapper
		border: solid
		border-width: 1px
		border-color: colorscheme(gray-400)
		border-radius: 10px
		overflow-y: scroll
		margin-bottom: 50px

		&::-webkit-scrollbar
				width: .75rem

		&::-webkit-scrollbar-track
			border-bottom-right-radius: 10px
			border-top-right-radius: 10px
			background: colorscheme('gray-200')
			border-bottom: solid
			border-color: colorscheme('gray-400')
			border-width: 1px

		&::-webkit-scrollbar-thumb
			background: colorscheme('gray-400')
			border-bottom-right-radius: 10px
			border-top-right-radius: 10px

		.row
			display: inline-flex
			width: 100%
			padding: 0px
			justify-content: space-between
			align-items: center
			

		.container
			min-height: 80px
			width: 100%
			display: flex
			justify-content: center
			align-items: center

		form
			display: flex
			align-items: center
			height: 100%
			width: 100%
			justify-content: space-between

			.header-button-container
				padding-top: 17px
				display: flex
				justify-content: flex-end

				tasque-button
					min-width: 120px

		ul
			width: 100%
			height: 100%
			overflow-y: visible

			.list-item-element
				height: 80px

				hr
					margin: 0px
					border-top: 1px solid colorscheme('gray-400')
					border-bottom: 0px solid gray

			li
				display: flex
				align-items: center
				height: 80px

				.user-data
					max-width: 65%
					align-items: center
					display: flex
					overflow: hidden
					white-space: nowrap

					tasque-avatar
							margin: 0px 15px


					a
						text-decoration: none

						&.username
							overflow: hidden
							white-space: nowrap
							text-overflow: ellipsis
							text-align: start
							padding: 0px
					
				.user-actions
					display: inline-flex
					align-items: center
					right: 15px
