@import 'src/colors.sass' 

.dropdown
    display: flex
    justify-content: space-between
    flex-direction: row
    margin: 5px 0 5px 0

.create-dropdown
    display: flex
    margin: 10px 0 0 0

.edit-dropdown
    display: flex
    margin: 10px 0 0 0
    justify-content: center
    tasque-button
        ::ng-deep
        button
            color: colorscheme(gray-500)
            .ng-fa-icon
                vertical-align: sub
            


