<div class="container">
  <div class="settings-container">
    <div class="setting" *ngFor="let setting of settingsShow">
      <div class="setting-data">
        <div class="setting-color" [style.background-color]="setting.color"></div>
        <span>{{ setting.name }}</span>
      </div>
      <div class="setting-actions ml-10">
        <tasque-button (btnClick)="editSetting(setting)" [icon]="editIcon" class="btn icon"></tasque-button>
        <tasque-button
          (btnClick)="deleteSetting(setting)"
          [icon]="removeIcon"
          class="btn icon"
        ></tasque-button>
      </div>
    </div>
    <div class="empty-settings-warning" *ngIf="settingsShow?.length === 0">
      <p>No settings</p>
    </div>
  </div>

  <div *ngIf="isChanging" class="edit-setting">
    <tasque-input [formControl]="formColorControl" class="edit-input" type="color"></tasque-input>
    <tasque-input
      [formControl]="formNameControl"
      (keydown.enter)="saveSetting()"
      class="edit-input"
      placeholder="Write name"
      type="text"
    ></tasque-input>
    <tasque-button class="btn icon apply-icon" [icon]="applyIcon" (btnClick)="saveSetting()"></tasque-button>
  </div>

  <div class="create-setting">
    <tasque-button class="btn icon ml-10" [icon]="addIcon" (btnClick)="addSetting()"></tasque-button>
  </div>

  <div class="actions ml-10">
    <tasque-button
      class="btn stroke gray fixed-height"
      text="Cancel"
      (btnClick)="cancelEdit()"
    ></tasque-button>
    <tasque-button class="btn stroke fixed-height" text="Save" (btnClick)="saveEdit()"></tasque-button>
  </div>
</div>
