<div class="container">
  <div class="page">
    <div>
      <fa-icon (click)="collapse()" [icon]="collapseIcon" size="2xs" [ngClass]="{'pointer': collapseIcon != circleIcon}"></fa-icon>
      <span (click)="moveToPage()" class="page-title">{{childWikiPage.name}}</span>
    </div>
    <div class="create" (mouseleave)="showCreate = false;">
      <fa-icon class="pointer" *ngIf="restrictionCreation()" [icon]="plusIcon" size="lg" (click)="showCreate = true;"></fa-icon>
      <tasque-create-dropdown *ngIf="showCreate" (nameItemEvent)="createPage($event)"></tasque-create-dropdown>
    </div>
  </div>
  <div [hidden]="!isExpanded" class="nested-page" *ngFor="let item of childWikiPage.nestedPages">
      <app-wiki-title [childWikiPage]="item"></app-wiki-title>
  </div>
</div>
