@import 'src/colors.sass'

.field-label
    color: colorscheme(black-100)

div > span
    color: colorscheme(black-100)

.label
    margin-right: 16px !important
    width: 100px !important
    min-width: 100px
    font-weight: 400
    font-size: 14px !important
    line-height: 19px !important
    color: colorscheme(black-100)

.dropdown-values
    display: flex
    justify-content: center
    align-items: center

.dropdown-field
    display: flex
    align-items: center

.dropdown-choosen
    display: flex
    justify-content: center


.checkbox-item
    margin: 15px 0 15px 0


