<div class="title">
    <h1>Project options page</h1>
</div>
<hr>
<div class="menu-actions" *ngIf="userRole >= 3 || project?.authorId === currentUser?.id">
    <div class="test-button">
        <tasque-button
            class="btn stroke"
            text="columns and statuses"
        >
        </tasque-button>
    </div>
    <div class="test-button">
        <tasque-button
            class="btn stroke"
            text="issue types"
            >
        </tasque-button>
    </div>
    <div class="test-button">
        <tasque-button
            class="btn stroke"
            text="issue template"
            (btnClick)="moveToIssueTemplates()"
            >
        </tasque-button>
    </div>
</div>
<div *ngIf="userRole < 3" class="no-permission">
    <h2>You don't have enough permission. Ask your supervisor to give you access to change project settings</h2>
</div>

